[2021-01-06 14:18] SanderDevisscher opened #204 "FIX `inbo_palette()` has only 9 colours ERRORS"
Since the last update from INBOTheme (see [#15](https://github.com/inbo/INBOtheme/issues/15)) this error is displayed whenever more than 9 colours are requested
[code]

The error occurs at the following graphs:
- [ ] FIGUUR: Aantal schademeldingen per jaar en variabele
      - when using "GEWAS" and "WILDSOORT" variabele
- [ ] ...

[2021-01-06 14:31] SanderDevisscher commented on #204
https://github.com/inbo/reporting-rshiny-grofwildjacht/blob/7608364a67d5fe8dad881dbdbfd4a96b61c38b69/reporting-grofwild/R/countYearSchade.R#L95

should be replaced by `ggplot2::scale_colour_discrete(length(unique(summaryData$variabele)))`

[2021-01-12 10:13] SanderDevisscher opened #205 "FIGUUR: Gerapporteerd aantal per jaar en per regio is compressed in docker env."
The error (see image below) occurs with both roedeer and wild boar.

![image](https://user-images.githubusercontent.com/16779320/104300490-d9d7fa00-54c6-11eb-87c9-524f1f62238d.png)

[2021-01-12 10:14] SanderDevisscher commented on #205
To test if error presists in UAT environment

[2021-01-12 10:15] SanderDevisscher commented on #205
The same error occurs with `FIGUUR: Afschot per jaar en per leeftijdscategorie (o.b.v. onderkaak)`

[2021-01-12 10:26] SanderDevisscher commented on #205
@mvarewyck, @aaikedw vertelt mij dat jullie contract met ons reeds lopende is.
Ik weet niet of het in je planning past maar zou je eens kunnen kijken naar deze issue ? liefst vandaag of morgen.

Ik heb poging om de app gebouwd te krijgen, in docker, wel enkele aanpassingen moeten doen aan de dockerfile (zie #203).

Bij voorbaat bedankt ;-)

[2021-01-12 10:27] SanderDevisscher commented on #205
oja ik ben bezig in de `update_jan_2021` - branch

[2021-01-12 10:38] SanderDevisscher commented on #205
Zelfde probleem bij FIGUUR: Gerapporteerd aantal embryo's voor vrouwelijke reeën per jaar

[2021-01-12 16:41] SanderDevisscher commented on #204
Not fixed yet! gives error below:
`names() applied to a non-vector`

[2021-01-13 13:47] SanderDevisscher commented on #205
Ik heb een mail verzonden naar @berthuygens om de app te deployen op de UAT. Als de issue hier persist zullen we de deployment naar productie moeten tegenhouden.

[2021-01-13 13:53] SanderDevisscher commented on #204
@jimcasaer, @mvarewyck neemt dit van mij over en zal op korte termijn pogen een oplossing ineen te boxen.

De volgende opties liggen op tafel:

1.  meerdere rcolorbrewer paletten gebruiken om aan een 40-tal kleuren te komen
2. als 1 niet haalbaar blijkt tegen morgenmiddag (14/01) dan de variabele keuze "GEWAS" uitschakelen zodat de grafiek nog weergegeven wordt met de 2 andere variabele keuzes.

[2021-01-13 14:18] mvarewyck commented on #204
Ik heb mijn aanpassingen voor `countYearSchade()` plot gepusht. We gebruiken nu 4 paletten van RColorBrewer `c("Set3", "Paired", "Dark2", "Pastel2")`, Categorie 'onbekend' wordt grijs gekleurd.

Het lijkt hiermee opgelost, zou moeten werken tot 40 kleuren.
NB: INBOtheme heeft maar 2 paletten, daarmee kom je zeker niet aan 40 kleuren.

[2021-01-13 14:40] SanderDevisscher commented on #204
Ok Super bedankt
Ik ga direct testen of alles naar wens werkt nu

[2021-01-13 16:04] SanderDevisscher commented on #204
Op de gecompresseerde  grafieken (#205) na lijkt mij nu alles in orde voor deployment.

[2021-01-13 16:50] mvarewyck commented on #205
For me, with plotly version `4.9.2.1`, graphs are displayed correctly, while with (latest) plotly version `4.9.3` the problem occurs indeed.
I would suggest to (temporarily) downgrade plotly, using
[code]
I have updated the Dockerfile accordingly

[2021-01-14 06:43] SanderDevisscher commented on #205
I'll rebuild and check

[2021-01-14 07:24] SanderDevisscher commented on #205
Issue is fixed in docker environment.
Thanks @mvarewyck

[2021-01-14 07:57] mvarewyck commented on #204
Running R CMD check, I found the INBO color palette also resulted in an error for some other plots made by `mapSchade`. I have implemented the same fix there.

[2021-01-18 07:57] #203 closed

[2021-01-18 07:57] #204 closed

[2021-01-18 10:53] SanderDevisscher opened #208 "Error when building exoten branch in docker"
When building the exoten branch (in docker and R) to take some screenshots to present the current state I get this error:

![image](https://user-images.githubusercontent.com/16779320/104905750-11411d80-5983-11eb-87b8-00a2e19c7abd.png)

Fixing this error is not urgent. The end of the month is ok.
When can you take a look into it ?

[2021-01-19 08:50] mvarewyck commented on #208
I can have a look at it later this week.

[2021-01-19 09:28] SanderDevisscher commented on #208
Perfect

Op di 19 jan. 2021 09:50 schreef mvarewyck <notifications@github.com>:

[2021-01-21 11:53] mvarewyck commented on #208
The error was not where it said it is (like here https://stackoverflow.com/a/62364854)

In `formatData.R` around line 167, there are 2 closing curly brackets missing.
I can just add the brackets, but prefer @SanderDevisscher to have a look at the code to see whether anything else is missing at the end of `exoten_dutchNames()` function

[2021-01-21 14:10] SanderDevisscher commented on #208
4841763fc6c28835880ac42c3fd5a0524ce8903a seems to fix the issue.

However a new error is posted, see below:
[code]

[2021-01-21 15:50] SanderDevisscher commented on #208
error is solved now

[2021-01-21 15:50] #208 closed

[2021-01-21 16:08] SanderDevisscher opened #209 "Grofwildapp exoten page does not have data"
After fixing #208 I was able to run the grofwildapp in docker but the exoten page seems to have no data.
The grofwild page and the wildschade page both contain data.
When looking at the docker print out the exoten page seems to have data as well (see below) but no filter subsets nor graphs/maps/tables can be made.

![image](https://user-images.githubusercontent.com/16779320/105377430-187a5c80-5c0b

[2021-01-22 13:33] mvarewyck commented on #209
Due to not returning anything at the end of `exoten_dutchNames()` the variable `locality` was dropped for exotenData within `loadExotenData()`.
I have fixed this, now data are loaded correctly at the Exoten page.

Note: There is a print 'All column names present', which can probably be turned off now (don't know where it comes from).

[2021-01-25 12:16] SanderDevisscher commented on #209
Works fine now

[2021-01-25 12:16] #209 closed

[2021-01-25 12:37] SanderDevisscher commented on #205
When building the exoten branch from the repo in docker somehow plotly 4.9.3 gets installed causing the error to reappear.
I suspect the installation of trias after plotly  is the cause. I'll check this !

[2021-01-25 13:23] SanderDevisscher commented on #205
fixed

[2021-01-27 15:20] SanderDevisscher opened #210 "Replace instance of geslacht.MF to geslacht_comp"
After the upcoming februari update (15/2) and before the may update (2/5) we should replace all instances of "geslacht.MF"* in code and documentation by the more correct column name "geslacht_comp".

@mvarewyck do you have time then to look into it ?

'* this is an old but confusing name. The MF in the name indicates it should only contain data from the hunters while it also contains lab/field dat

[2021-01-28 12:53] mvarewyck commented on #210
Sure, I will put it on the planning.

Op wo 27 jan. 2021 om 16:21 schreef Sander Devisscher <
notifications@github.com>:

[2021-02-08 11:59] SanderDevisscher opened #211 "Error when opening docker built"
When opening the app in chrome after being (successfully) built in docker I get the following error in the docker console:

![image](https://user-images.githubusercontent.com/16779320/107216374-f7887880-6a0c-11eb-9bd6-19fea090b944.png)

W're doing an extra update in February because this better coincides with the hunting-reporting cycle.  The deadline for this update is 15/02. @mvarewyck can you l

[2021-02-08 14:53] mvarewyck commented on #211
Sure, on my list this week.

Op ma 8 feb. 2021 12:59 schreef Sander Devisscher <notifications@github.com

[2021-02-09 16:27] mvarewyck commented on #211
In latest shiny package the function shiny:::`%OR%` no longer exists.
It should work by replacing in global.R. line 16 by

[code]

On which branch should I make this change?

[2021-02-09 16:45] SanderDevisscher commented on #211
@mvarewyck you can implement the changes on the  `EXTRA_update_feb_2021` - branch

[2021-02-11 10:25] SanderDevisscher commented on #211
fixed in docker

[2021-02-11 10:25] #211 closed

[2021-02-11 10:43] SanderDevisscher opened #212 "Add sorting options to tables"
Currently only select tables (ex. TABEL: Aantal schademeldingen per type schade) have the option to sort by column.
I think it would be usefull to implement this functionality for all tables.

[2021-02-12 10:10] SanderDevisscher opened #213 "Incorrect warning: when selecting only 2020 for "FIGUUR: Leeftijdscategorie op basis van onderkaak & meldingsformulier""
Both on the development  and the production environment you get this message when selecting 2020 only:

I suspect the changes in described #74  to be cause.

@mvarewyck can you take a look after the februari update.

[2021-02-12 10:13] SanderDevisscher commented on #213
The message appears both with Wild zwijn en Ree

[2021-02-16 10:09] jimcasaer opened #215 "achtergrond kaart"
de knop "voeg landkaart toe" werkt niet voor de het visualiseren van de afschotstatistieken op de grofwild rapporteringspagina

[2021-02-25 15:42] mvarewyck commented on #213
This was hard-coded not showing a graph for 2020.

Now I don't show a graph if the current year (max year in data) is selected. Ok, or do you rather want to check whether number of observations is less than e.g. 20?

[2021-02-25 15:52] mvarewyck commented on #212
Yes, this is possible. We will need to construct the tables in another way (using `renderDT` instead of `renderTable`). Do you want it both for 'Grofwild' and 'Wildschade' tables?

[2021-02-25 16:03] mvarewyck commented on #210
Do you update the data `rshiny_reporting_data_ecology.csv` such that the column `geslacht.MF` is replaced by `geslacht_comp`?

[2021-02-26 08:28] SanderDevisscher commented on #212
Yes, please

[2021-02-26 08:39] SanderDevisscher commented on #213
Is it possible to check if all age-groups (e.a. frisling, overloper and volwassen for wild boar) are present in the labodata for the selected time range and only then display the graph ?

[2021-02-26 08:44] SanderDevisscher commented on #210
I plan to do this rename. I has not yet been done.

[2021-03-04 14:50] dbemelmans commented on #215
De landkaart die voorheen werd gebruikt bestaat niet meer, dus heb ik een andere kaart toegevoegd. Indien deze niet goed is kan u altijd zelf één kiezen: https://leaflet-extras.github.io/leaflet-providers/preview/
Let wel dat er een heel aantal kaarten zijn, die niet gratis zijn.
Hier is een lijst met de providers die betalend zijn: https://github.com/leaflet-extras/leaflet-providers

[2021-03-09 07:44] SanderDevisscher commented on #210
This rename has been done in the backoffice. 2 new columns were added, namely "geslacht_comp" containing the compiled sex data & "geslacht_comp_bron" containing the source of the data (meldingsformulier, inbo, onbekend & NA)*.
I'll make a branch based on the master and upload the new data.

* I'll add a check in the backoffice to make sure if the source is.NA means no sex data and source == onbeke

[2021-03-09 11:03] SanderDevisscher opened #216 "Inbo_palette error is back"
When selecting more than 9 municipalities (or other regions) you get this error:

![image](https://user-images.githubusercontent.com/16779320/110453033-10e11b00-80c6-11eb-9071-3bd7c2824c31.png)

This is similar to this issue #204. Only difference is the number of selected municipalities (or regions) rarely exceeds 9.

I was wondering which solution is best ?

1.  Include the same amount of palette

[2021-03-10 09:45] SanderDevisscher opened #217 "Summarised view of regions"
Add a button to set combined or individual representation of the selected region for this graph:

- Evolutie gerapporteerd afschot Gemeente (binnen provincie)

[2021-03-10 09:51] SanderDevisscher opened #218 "Test wbe region view"
- [x] Add WBE - info to geography (see issue #650 from backoffice) @SanderDevisscher
- [x] Add Wildbeheereenheid as regio-schaal option
- if selected only aantal/100ha as Eenheid
- every year a new layer

[2021-03-10 10:13] SanderDevisscher commented on #215
Persoonlijk denk ik dat https://leaflet-extras.github.io/leaflet-providers/preview/#filter=Esri.WorldImagery beter past.
Het is de bedoeling om met de knop een satelliet weergave aan te beiden waarmee het landgebruik "achterhaald" kan worden.
Dat is bij [Stamen.Terrain](https://leaflet-extras.github.io/leaflet-providers/preview/#filter=Stamen.Terrain) niet het geval.

Zouden we als alternatief de

[2021-03-10 10:19] jimcasaer commented on #215
waarom niet een van de openstreetmaps ?OpenStreetMap.Mapnik of OpenStreetMap.DE ?
ik vind dat je daar heel wat info op kan terugvinden

[2021-03-10 10:20] SanderDevisscher commented on #210
@mvarewyck @dbemelmans ik heb er blijkbaar overgekeken dat jullie reeds bezig waren in de `update_mar_2021` - branch
wat doen we hiermee ?

1. Doen we een PR van jullie branch ?
1. sluit ik de `210_geslacht_comp` branch en upload ik de aangepaste data naar jullie branch ?

wat is jullie voorkeur ?

[2021-03-10 10:27] SanderDevisscher commented on #215
@jimcasaer dit is dan minder belangrijk ?

[2021-03-11 11:32] mvarewyck commented on #210
I would prefer 3.

[2021-03-17 08:49] mvarewyck commented on #210
Currently `geslacht_comp_bron` is not being used in the graphs. Do you want to include it in 'FIGUUR: Leeggewicht per leeftijdscategorie (INBO of Meldingsformulier) en geslacht' ? Currently only source for age and not gender can be selected there.

[2021-03-17 09:21] SanderDevisscher commented on #210
@jimcasaer what do you think ?

In my opinion if we implement this we should do it as follows. Give the user the choice between 2 source fields: "Bron leeftijd with options (INBO, Meldingsformulier en Beide)" &  "Bron geslacht with options (INBO en Beide<sup>1</sup>)". It would also be nice to display the percentage of the data being used.

<sup>1</sup> Geslacht data van het meldingsformulier stro

[2021-03-17 19:47] jimcasaer commented on #210
- [ ] als we het uitwerken lijkt het me logisch dat de datastroom voor beide variabelen indentiek is -- dus telkens keuze uit 2 of uit drie opties
- [ ] vraag me af of enkel meldingsformulier als bron zinvol is in deze online tool ?

[2021-03-22 08:53] SanderDevisscher opened #219 "Wildschade Landkaart 2 tries to download as html but fails"
When downloading the 2nd map of the wildschade page, the server tries to download a html (instead of a png) and fails.

![image](https://user-images.githubusercontent.com/16779320/111963962-666ced00-8af4-11eb-9ba4-9b9184976265.png)

[2021-03-22 09:10] SanderDevisscher commented on #210
It seems logical to use meldingsformulier only data solely for accuracy of determination by hunters graphs like "FIGUUR: Leeftijdscategorie op basis van onderkaak & meldingsformulier". In all other cases I would use the "corrected" data, ea when available INBO data otherwise data from Meldingsformulier.

So, in conclusion: there will be 2 source fields (leeftijd & geslacht) with 2 options each (IN

[2021-03-23 14:50] dbemelmans commented on #219
The downloadHandler has a default timeout of 45 seconds before the connection breaks, which was exceeded in this case. To avoid the timeout, I generate the image outside the downloadHandler first.

[2021-03-31 08:15] mvarewyck commented on #218
@SanderDevisscher Could we have some example geography data with the WBE included?

[2021-03-31 13:21] SanderDevisscher commented on #218
I'm working on it

[2021-03-31 13:52] SanderDevisscher commented on #218
@mvarewyck @dbemelmans what is the best way to get the shapes for use ?
Shall I provide them or will you look into using a wfs/wms service ?

[2021-03-31 14:01] SanderDevisscher commented on #218
Where can I leave the data ? New branch ? existing branch ? which?

[2021-03-31 15:34] mvarewyck commented on #218
Could you create a new branch `wbe` from master?
Shapes are generally sent to us as .shp files which we convert to .geojson and next include into the git repository
Thanks!

[2021-04-01 12:14] SanderDevisscher commented on #218
I've created the `218_test_wbe` - branch. I'll upload the data and shapes here.

[2021-04-01 12:40] SanderDevisscher commented on #218
I've uploaded the wbe .geojsons and new data (ecology & geography).

The geography now contains the following columns (for "new" data since 2014):
- WBE_Naam_Toek
- WBE_Naam_Georef
- KboNummer_Toek
- KboNummer_Georef
- PartijNummer <sup>1</sup>

<sup>1</sup> Linking with the wbe geojsons can be done with this column. It links the Toek(keningen) - wbe info with the geojsons. Some "wbe's" cannot be

[2021-04-21 09:07] #210 closed

[2021-04-21 09:08] SanderDevisscher commented on #219
@mvarewyck @dbemelmans Is this issue ready for testing ? Ifso can you open a Pull request ?

[2021-04-21 09:09] SanderDevisscher commented on #217
@mvarewyck @dbemelmans Is this issue ready for testing ? Ifso can you open a Pull request ?

[2021-04-21 09:10] SanderDevisscher commented on #216
@jimcasaer which option gets your preference ?

[2021-04-21 09:11] SanderDevisscher commented on #213
@mvarewyck @dbemelmans Is this issue ready for testing ? Ifso can you open a Pull request ?

[2021-04-21 09:12] SanderDevisscher commented on #212
@mvarewyck @dbemelmans Is this issue ready for testing ? Ifso can you open a Pull request ?

[2021-04-21 09:12] SanderDevisscher commented on #199
@mvarewyck @dbemelmans Is this issue ready for testing ? Ifso can you open a Pull request ?

[2021-04-29 17:13] jimcasaer opened #222 "naam tabblad en loading veranderen"
de term wildapp staat nu als naam in het tabblad en er wordt aangegeven dat de 'wildapp' wordt geladen
gezien de commotie rond alle app's (wilder/anb/...) en het feit dat dit geef app is om in te geven maar een dynamische rapporteringstool zou het beter zijn dat de term app hier verdwijnt

suggesties voor nieuw naam zijn welkom (" grofwild & wildschade ", "wildbeheerdata", "wildbeheerrapportering"

[2021-04-29 17:22] jimcasaer opened #223 "aanpassing tekst omwille van opnemen van verkeersslachtoffers Natuurpunt"
is ok -- staat nu ook al in de tekst
"Deze gegevens komen uit het Meldpunt-schaderegistratie van het Agentschap voor Natuur en Bos (E-loket), het project Dieren onder de wielen (Natuurpunt) en meldingen van verkeersongevallen met wilde dieren uit andere bronnen."

er is dus geen aanpassing meer nodig :-)

issue kan dus al onmiddellijk terug gesloten worden😊

[2021-05-03 08:03] SanderDevisscher commented on #216
@mvarewyck @dbemelmans I suggest we go for option 2.

[2021-05-03 10:46] #212 closed

[2021-05-03 10:46] #213 closed

[2021-05-03 10:46] #215 closed

[2021-05-03 10:46] #217 closed

[2021-05-03 10:46] #219 closed

[2021-05-03 10:47] SanderDevisscher opened #224 "Update mei 2021"
- [x] Create branch update_month_year
- [x] Copy data to rshiny
- [ ] test app

[2021-05-06 08:23] SanderDevisscher opened #225 "Add disclaimer to wildschade pagina"
"Door technische problemen bij de doorstroom van data van het e-loket naar deze website ontbreekt de recentste data van het e-loket"

@jimcasaer ok ?

[2021-05-06 08:31] jimcasaer commented on #225
"wildschade data"

[2021-05-06 08:32] SanderDevisscher commented on #225
"Door technische problemen bij de doorstroom van wildschade data van het e-loket naar deze website ontbreekt de recentste data van het e-loket"

[2021-05-06 08:41] jimcasaer commented on #225
"Door technische problemen bij de doorstroom van wildschade data van het e-loket naar deze website ontbreekt de recentste **wildsschade** data van het e-loket"👍

[2021-05-06 09:55] #223 closed

[2021-05-06 09:58] SanderDevisscher commented on #222
Wat denk je van wildbeheer statistiek ?

[2021-05-07 07:59] SanderDevisscher opened #226 "New Graph: Afschot over de jaren"
# Suggested Title: Verdeling afschot over de jaren

## INFO:
### Position
Extra Figuren en Tabellen > FIGUUR: Afschot per jaar en per leeftijdscategorie (o.b.v. onderkaak) > ...
### Description/Disclaimer
- Verdeling van afschot over de jaren heen opgesplitst per interval
![image](https://user-images.githubusercontent.com/16779320/117417650-dc011100-af1a-11eb-9ed3-3e2299f01b3f.png)
### Datacolumns

[2021-05-07 08:14] SanderDevisscher opened #227 "New Graph: Afschot per jachtmethode"
# Suggested Title: Afschot per jachtmethode

## INFO:
### Position
- Extra Figuren en Tabellen > ...
### Description/Disclaimer
- Aandeel van afschot per jachtmethode over de jaren heen.
### Datacolumns
- ecology$jachtmethode_comp
### Filters
- Periode
- Regio (Vlaanderen, Provincie, Faunabeheerzone)
### Code example
[code]
### Layout example
![image](https://user-images.githubusercontent.com/1677

[2021-05-07 08:16] #197 closed

[2021-05-07 10:02] SanderDevisscher commented on #227
De benodigde data zal beschikbaar zijn na de update van mei zie #224

[2021-05-10 09:48] SanderDevisscher commented on #216
@mvarewyck of @dbemelmans Kunnen jullie hier de komende dagen werk van maken ?

[2021-05-10 10:00] dbemelmans commented on #216
@SanderDevisscher Ik ben er op dit moment mee bezig (optie 2).

[2021-05-11 08:58] SanderDevisscher commented on #199
When testing the update for may I noticed the period sliders (both "Geselecteerd Jaar (kaart)" & "Periode (grafiek)") of the "Landkaart" reset when setting the "regio - schaal". This makes comparing different scales for the same period difficult.

[2021-05-11 09:56] SanderDevisscher opened #229 "Removed filter value remains as axis tick label"
## Title Figuur/Tabel:
**"FIGUUR: Onderkaaklengte per leeftijdscategorie (INBO of Meldingsformulier) en geslacht" & "FIGUUR: Leeggewicht per leeftijdscategorie (INBO of Meldingsformulier) en geslacht"**
## Bug description:
When unselecting only "Jongvolwassen"/"Overloper" from the "Leeftijdscategorie" - filter, "Jongvolwassen"/"Overloper" remains as a axis - tick label.
Removing only "Kits"/"Frisl

[2021-05-11 10:10] SanderDevisscher commented on #229
This issue is already present in the current production

[2021-05-12 09:37] #199 closed

[2021-05-12 09:37] #224 closed

[2021-05-12 09:37] #225 closed

[2021-05-19 12:17] SanderDevisscher opened #230 "Difference in number of "Leeftijdscategorie op basis van onderkaak" between figures"
# Title Figuur/Tabel: FIGUUR: Leeftijdscategorie op basis van onderkaak & meldingsformulier & FIGUUR: Afschot per jaar en per leeftijdscategorie (o.b.v. onderkaak)
## Bug description:
There is a difference between the age classes according to the lower jaw for the same year between the 2 graphs.
for example in 2020 @ FIGUUR: Leeftijdscategorie op basis van onderkaak & meldingsformulier we have 407

[2021-05-19 12:22] jimcasaer commented on #230
I do not consider it as a breaking point given that the explanation of the figure already states that it compares age based on meldingsformulier and jaw -- animals where one of both is missing can therefore not be included

best is to make a issue so we give some more explanation for next update or add now ' voor die dieren waarvoor beide gegevens beschikbaar zijn"

[2021-05-19 12:33] SanderDevisscher commented on #230
So, adding "voor die dieren waarvoor beide gegevens beschikbaar zijn" to `FIGUUR: Leeftijdscategorie op basis van onderkaak & meldingsformulier` should happen this before approving this update ? Isn't this sufficient ?

[2021-05-19 12:34] SanderDevisscher commented on #230
@mvarewyck @dbemelmans can you look into this ?

[2021-05-19 15:37] dbemelmans commented on #230
I checked and the difference comes indeed from the missing data on the MF.

[2021-05-19 15:38] SanderDevisscher commented on #230
@dbemelmans can you open a PR ?

[2021-05-20 04:30] SanderDevisscher commented on #230
@jimcasaer moet hier nu nog iets voor gebeuren ? of is de extra info voldoende ?

[2021-05-20 06:57] SanderDevisscher opened #232 "Implement INBO website CSS"
In this zipfile ([CSS.zip](https://github.com/inbo/reporting-rshiny-grofwildjacht/files/6513499/CSS.zip)) you find the CSS files for the current [inbo website](https://www.vlaanderen.be/inbo/home/).

It would be nice to see how the app would look with the same styling as the website. Thus linking both together.

Since this is not super important, implementing should only be attempted if time neede

[2021-06-16 07:09] #230 closed

[2021-07-02 13:05] SanderDevisscher opened #233 "Remove disclaimer to wildschade pagina"
revert changes in #225

[2021-07-15 15:50] dbemelmans commented on #229
@SanderDevisscher, I had some trouble with pushing to the remote branch due to the two factor authentication system. So I accidentally pushed directly to the master branch. I did not change much in the code, maybe you can check it. I apologise for the inconvenience.

[2021-07-16 04:06] SanderDevisscher commented on #229
No problem, I'll check it!

Maybe we could consider "protecting" the master branch by setting a review requirement. Thus disabling commits to the master branch.

[2021-07-16 06:21] SanderDevisscher commented on #229
@dbemelmans this issue seems to be fixed and no new issues seem to have been created.

[2021-07-16 06:21] #229 closed

[2021-08-06 13:10] SanderDevisscher commented on #233
@dbemelmans we were a bit to optimistic => dataflow has not yet been fixed. I'll revert your commit.

[2021-08-09 04:58] SanderDevisscher commented on #226
@dbemelmans momenteel is de volgorde van de balken zomer, winter, lente en herfst als je de interval op per seizoen zet.
Zou je dit kunnen wijzigen in lente, zomer, herfst en winter ?
verder heb ik nog een vraagje, wat is de begrenzing van deze seizoenen ?

[2021-08-09 05:09] SanderDevisscher commented on #226
Verder heb ik ook nog een issue waarbij de grafiek blijft resetten als ik de periode wijzig.

https://user-images.githubusercontent.com/16779320/128662540-aa62145d-761c-4501-bb0a-b5d6d849a3f7.mp4

=> als een oplossing hiervoor niet voor de hand ligt stel ik voor dat we de toevoeging van deze grafiek uitstellen naar een volgende update.

[2021-08-09 11:57] jimcasaer opened #235 "voorstel voor nieuwe achtergrondkaarten"
Bij de huidige kaarten verschijnen er bollen in de gemeenten
@dbemelmans : doe jij een voorstel voor een aantal mogelijke andere kaarten waartussen we kunnen kiezen ?

[2021-08-09 13:01] dbemelmans commented on #226
Ik neem telkens de 21ste (maart, juni, september, december) als start van elk seizoen.

[2021-08-09 14:12] dbemelmans commented on #235
![OpenStreetMapHOT](https://user-images.githubusercontent.com/79653728/128720051-d48aa7ae-6523-47b2-bcb0-d11fd075d8f1.png)
![OpenTopoMap](https://user-images.githubusercontent.com/79653728/128720055-b7355085-1247-498c-b1d8-1a129b758184.png)
![StamenToner](https://user-images.githubusercontent.com/79653728/128720064-7eeee0d9-8cba-43c6-99f6-5a1200b02588.png)

Dit zijn enkele voorbeelden die ik gevon

[2021-08-09 14:29] SanderDevisscher commented on #235
Persoonlijk gaat mijn voorkeur uit naar het eerste voorbeeld. Wat denk jij @jimcasaer.

[2021-08-09 14:30] jimcasaer commented on #235
ook mij lijkt de eerste kaart op het eerste zicht het meest gepast

[2021-08-10 08:50] #222 closed

[2021-08-10 08:51] #226 closed

[2021-08-10 08:51] #227 closed

[2021-08-10 08:51] #232 closed

[2021-08-10 08:55] SanderDevisscher opened #236 "Update november 2021"
- [x] Create branch update_month_year
- [x] Copy data to rshiny
- [x] test app

[2021-08-11 08:32] SanderDevisscher opened #237 "BUG: Create whitespace between download button & statistics"
# Title Figuur/Tabel: FIGUUR: Leeggewicht per leeftijdscategorie (INBO of Meldingsformulier) en geslacht
## Bug description:
In de huidige versie van de app is er geen witruimte tussen de download knop en de tekst die weergeeft welk aandeel van de data gebruikt wordt. Hierdoor wordt dit laatste moeilijk leesbaar.
## Screenshot:
![image](https://user-images.githubusercontent.com/16779320/128996607-

[2021-08-11 09:08] SanderDevisscher opened #239 "BUG: Remove corrupted letters"
# Title Figuur/Tabel: FIGUUR: Gerapporteerd aantal embryo's voor vrouwelijke reeën per jaar
## Bug description:
als je als bron "INBO en meldingsformulier" selecteert verschijnt deze disclaimer:

=> de "Ã³Ã³" dient vervangen te worden door "óó"
## Screenshot:
![image](https://user-images.githubusercontent.com/16779320/129000264-4ddd9695-5cbe-48a7-872b-3a98787ea6ab.png)

[2021-08-11 09:19] SanderDevisscher opened #240 "Change Request: changes to Landkaart text & "voeg landkaart toe"- button"
# Title Figuur/Tabel: Landkaart
## description:

- [x] wijzigingen aan Landkaart tekst:

        zou gewijzigd moeten worden in:

- [x] wijzigingen "voeg landkaart toe"- knop:
      Indien mogelijk zou de tekst van de knop moeten wijzigen in "verberg landkaart" wanneer deze geactiveerd werd.
      Deze aanpassing mag uitgevoerd worden bij alle kaarten.

## Screenshot:
![image](https://user-images.

[2021-08-11 09:20] SanderDevisscher commented on #235
@dbemelmans @mvarewyck Kunnen jullie eens nakijken of deze kaart ook gebruikt wordt voor de wildschadepagina ?

[2021-08-11 10:02] jimcasaer opened #241 "change request : aanmaken van selectievakken voor bron (inbo / meldingsformulier / beide) voor bepaalde figuren"
naar analogie met deze figuur (zie hieronder) zou ook bij een aantal reewildfiguren de mogelijkheid best aangemaakt worden om de bron van de leeftijd en waar interessant ook geslacht gekozen kan worden
![image](https://user-images.githubusercontent.com/17747176/129009871-c3b9cbf6-7e63-47e5-8c6c-e4caf8a79c77.png)
gaat dan over volgende figuren

- [ ] onderkaaklengte per leeftijdscategorie en geslac

[2021-08-18 14:40] SanderDevisscher commented on #216
This error is still present @ "FIGUUR: Aantal schademeldingen per jaar en per regio"

[2021-08-27 13:29] SanderDevisscher opened #244 "Change request: Mogelijkheid tot keuze bron bij alle kaarten en figuren wildschade"
Gezien het feit dat het aantal bronnen van wildschade data blijft groeien lijkt het ons een goed idee om de mogelijkheid te voorzien om de bron van een figuur te selecteren.

We stellen voor hiervoor dit type selectievak te gebruiken
![image](https://user-images.githubusercontent.com/16779320/131140307-e38a8520-56f0-43bf-874b-1e518579a93a.png)

De bron gegevens zijn te vinden in de Indieningtype k

[2021-09-28 09:29] dbemelmans commented on #244
@SanderDevisscher wil je dit ook voor de tabellen of echt enkel voor de figuren en de landkaarten?

[2021-09-28 09:58] SanderDevisscher commented on #244
Dat mag ook voor de tabellen

Op di 28 sep. 2021 11:29 schreef dbemelmans ***@***.***>:

[2021-10-12 12:59] SanderDevisscher commented on #218
@mvarewyck @dbemelmans have you allready looked at how we can organise the access to the wbe data ? This should be limited to the data from a given wbe.

[2021-10-12 13:03] SanderDevisscher opened #245 "New Feature WBE - page"
Besides a overview at the general grofwild page (see issue #218) we would like to give some more details at wbe level (what, to be discussed by @jimcasaer and myself). First step in this would be working out how to organise the access.

@mvarewyck @dbemelmans have you allready looked at how we can organise the access to the wbe data ? This should be limited to the data from a given wbe.

_Original

[2021-10-21 09:36] SanderDevisscher opened #246 "Changes to SchadeWildsoorten"
For the next update these species should be added to the SchadeWildsoorten - list:
- patrijs as kleinwild
- damhert as grofwild

Also this species should be removed from the list.
- Wolf

[2021-10-26 10:24] mvarewyck opened #247 "FIGUUR: Leeggewicht per leeftijdscategorie en geslacht -"
- [ ] I would suggest to change the plot title
FIGUUR: Leeggewicht per leeftijdscategorie (INBO of Meldingsformulier) en geslacht
into
FIGUUR: Leeggewicht per leeftijdscategorie en geslacht (INBO of Meldingsformulier)

- [ ] For leeftijdscategorie: if user selects INBO, then the plot shows indeed the selected Frisling (<6m) and (>6m), while if selecting 'both', then we don't make the distinction i

[2021-10-26 12:50] #247 closed, assigned to SanderDevisscher, mvarewyck

[2021-11-12 14:48] SanderDevisscher commented on #240
De wijzigingen aan de `voeg landkaart toe` knop werken perfect (lokaal in docker)

@dbemelmans is het mogelijk om de landkaart tekst dynamisch te maken zoals de titel van de grafiek?
m.a.w. zodat als je bvb provincie kiest bij regio-schaal dat de tekst

wordt ?

[2021-11-12 15:10] SanderDevisscher opened #250 "percentages gerapporteerd afschot per regio en per leeftijdscategorie inconsequent"
# Title Figuur/Tabel: TABEL: Gerapporteerd afschot per regio en per leeftijdscategorie
## Bug description:
Wanneer je de tabel doorheen de tijd raadpleegt verwacht je dat er zodra er zowel data is voor jaar x als jaar x - 1|x - 5|x - 10 dat de verandering in percent weergegeven wordt. Maar dit is niet het geval, neem bvb voeren

in de tabel van 2021 (update november branch lokaal in docker) wordt

[2021-11-12 15:47] SanderDevisscher opened #251 "Rework calculation percentage of observations"
### Discussed in https://github.com/inbo/reporting-rshiny-grofwildjacht/discussions/249

I suggest we rework the percentage of observation as follows:

subset size by selected source(s) vs No female animals
- [ ] FIGUUR: Gerapporteerd aantal embryo's voor vrouwelijke reeën per jaar

subset size by selected source(s) vs total No animals shot
- [ ] FIGUUR: Onderkaaklengte per leeftijdscategorie en g

[2021-11-12 19:53] SanderDevisscher opened #252 "TABEL: Aantal schademeldingen per type schade not loading"
# Title Figuur/Tabel: TABEL: Aantal schademeldingen per type schade
## Bug description:
when trying to view the "TABEL: Aantal schademeldingen per type schade not loading" for everzwijn schade this error is displayed:

`numbers of columns of arguments do not match`

[2021-11-12 19:55] SanderDevisscher commented on #237
Issue is fixed in docker

[2021-11-12 20:01] SanderDevisscher commented on #239
fixed in docker

[2021-11-12 20:04] SanderDevisscher commented on #216
fixed in docker

[2021-11-12 20:05] SanderDevisscher commented on #241
fixed in docker

[2021-11-12 20:07] SanderDevisscher commented on #246
fixed in docker and wiki page created to allow future changes to be done by us, see https://github.com/inbo/reporting-rshiny-grofwildjacht/wiki/change-schade-specieslist

[2021-11-12 20:09] SanderDevisscher commented on #233
@jimcasaer gaan we nu een diclaimer voorzien dat we door aanpassingen aan het wildschade e-loket formulier bepaalde gegevens niet meer door krijgen ?

[2021-11-12 20:09] #237 closed

[2021-11-12 20:10] #239 closed

[2021-11-12 20:10] #216 closed

[2021-11-12 20:11] SanderDevisscher commented on #241
@jimcasaer dit moeten we volgende week nog eens bekijken

[2021-11-12 20:12] #246 closed

[2021-11-12 20:12] #244 closed

[2021-11-15 10:15] mvarewyck commented on #252
I can't reproduce on branch 'update_november'. Which filters do you select at the top?

[2021-11-15 10:46] mvarewyck commented on #252
Sorry, I can now with the latest data. Fixing..

[2021-11-15 10:52] mvarewyck commented on #246
If easier, we can use (upload) a csv file with two columns specifying the species group and species name, instead of editing the code in ui.R directly.

e.g.

| group | name |
| -------- | -------- |
Grof wild | wild zwijn
Grof wild | edelhert
Grof wild | ree
Klein wild | haas
...

[2021-11-15 10:56] mvarewyck opened #253 "New schadedata november 2021"
Notes when loading the latest schadedata:

Update schadeWildsoorten aub

Update sourcesSchade.

[2021-11-15 11:28] mvarewyck commented on #252
Due to conflicts of duplicated 'ANDERE'.
We expect:

While current data contains 'ANDERE' instead of 'GEWASANDR'.

[2021-11-15 12:44] SanderDevisscher commented on #253
These species (exclu. canadese gans, which is a case issue => I'll fix this in the data) can be ignored for now since they are not open for hunting under the jachtopeningbesluiten (see https://www.natuurenbos.be/wildsoorten) or alien species (to be used in the alien species portal)

These (and future) schade bronnen containing `"E_Loket"` should be grouped as E-loket data.

[2021-11-15 12:46] SanderDevisscher commented on #252
@mvarewyck any further actions required on our part ?

[2021-11-15 12:48] mvarewyck commented on #252
No, seems to work. Maybe test once more at your side?

[2021-11-15 12:57] SanderDevisscher commented on #246
@mvarewyck I think it will be much safer to limit the amount of direct in code changes one of us has to do.
Therefor It would be best to indeed to create this csv. And any other lists which group certain values (like datasources for wildschade)

I was also thinking if it would be a good idea to include some kind of boolean display/include column to easily switch on/off species?

I'll create a new

[2021-11-15 12:58] SanderDevisscher opened #254 "Create grouping lists"
_Originally posted by @mvarewyck in https://github.com/inbo/reporting-rshiny-grofwildjacht/issues/246#issuecomment-968768528_

_Originally posted by @SanderDevisscher  in https://github.com/inbo/reporting-rshiny-grofwildjacht/issues/246#issuecomment-968884370_

TODO
- [ ] create csv lists
- [ ] rewrite code to use lists
- [ ] rewrite howto wiki page

[2021-11-15 15:54] SanderDevisscher commented on #240
fixed in docker

[2021-11-15 15:54] #240 closed

[2021-11-15 15:55] SanderDevisscher commented on #233
@jimcasaer ik zie dit als opgelost.

[2021-11-15 15:55] #233 closed

[2021-11-15 16:00] SanderDevisscher commented on #252
Fixed in docker

[2021-11-15 16:00] #252 closed

[2021-11-15 16:01] SanderDevisscher commented on #253
fixed in docker

[2021-11-15 16:01] #253 closed

[2021-11-17 11:00] #236 closed

[2021-11-17 11:00] #241 closed

[2021-11-17 12:53] SanderDevisscher opened #257 "Add wilder to Sources in info"
zou vervangen moeten worden door:

Deze gegevens komen uit het Meldpunt-schaderegistratie van het e-loket fauna en flora (Agentschap voor Natuur en Bos), het project Dieren onder de wielen (Natuurpunt), Wilder (Limburgse Jagervereniging vzw) en meldingen van verkeersongevallen met wilde dieren uit andere bronnen.

@jimcasaer pas je de tekst aan als je iets hoort van Gert ? en assign je de issue aa

[2021-11-17 13:26] SanderDevisscher commented on #257
Wilder is blijkbaar nog steeds intellectueel eigendom van de Limburgse Jagervereniging vzw en moet dus zo vermeld worden.

[2021-11-17 13:39] mvarewyck commented on #257
Note: Pushed to update_november branch as I can't directly push to master

[2021-11-17 14:19] SanderDevisscher commented on #257
as intended ;-)

[2021-11-19 09:47] #257 closed

[2021-11-29 09:04] SanderDevisscher opened #262 "NEW GRAPH: FIGUUR: Gerapporteerd aantal embryo's voor vrouwelijke wilde zwijnen per jaar"
## INFO:
### Position
- Onderaan pagina
### Description/Disclaimer
- Evolutie van het gerapporteerd aantal embryo's per geschoten dier doorheen de geselecteerde jaren voor de gekozen regio en types.
### Datacolumns
- "aantal_embryos_onbekend";"aantal_embryos";"aantal_embryos_labo";"aantal_embryos_MF";"geslacht_comp";"geslacht_comp_bron"
### Filters
- Periode
- Regio
- Data bron voor aantal embryo'

[2021-11-29 09:15] SanderDevisscher opened #263 "FIGUUR: Verdeling afschot over de jaren type-filter obv leeftijdcomp ?"
# Title Figuur/Tabel: FIGUUR: Verdeling afschot over de jaren
## Bug description:
Momenteel filtert de type-filter voor deze figuur o.b.v. het label. Dit zou moeten gewijzigd worden naar een filter o.b.v. de leeftijd_comp.

[2021-11-29 09:17] SanderDevisscher opened #264 "Voeg de wildbeheereenheid pagina toe"
Zie [mockup](https://docs.google.com/presentation/d/1Z-vE6j-dM70-lUNeRao_11znAuKvPpdBU6lCJ0i80GY/edit?usp=sharing)

[2021-12-07 13:41] mvarewyck opened #265 "Background data for wbe"
For the map it is asked to provide some background data per wbe:

[code]

I guess this info will come from a seperate file: one line per year and wbe code. @SanderDevisscher Do you have an example available that can be uploaded here?
https://github.com/inbo/reporting-rshiny-grofwildjacht/tree/218_test_wbe/reporting-grofwild/inst/extdata

[2021-12-07 15:37] SanderDevisscher commented on #265
I've calculated these background data<sup>1</sup> for all years and wbe's (currently in PR [#757](https://github.com/inbo/backoffice-wild-analyse/pull/757) of the backoffice). I've seperated these by year into a .csv per year. If you think its better to combine them into a larger file with "one line per year and wbe code" I can allways rbind them together.

<sup>1</sup>except data about military b

[2021-12-07 15:41] SanderDevisscher commented on #265
PS WBENr is the code that can also be found in the wbe_binnengrenzen.geojsons

[2021-12-08 08:42] mvarewyck commented on #265
Perfect, I'll see it pass by then.

Both options are fine for me, We can also bind the files at our side. Anyhow, I will load all files before starting the application to speed up the app. Then all data is available when the user changes year of interest.

[2021-12-13 06:13] SanderDevisscher commented on #265
I'll keep them separate then, I think its easier to detect erroneous changes with smaller files. The files have been uploaded see cad0305.

[2022-01-03 11:52] SanderDevisscher commented on #265
@mvarewyck we decided to ditch the percentage military base. So this should not be included in the graph.

[2022-01-12 13:00] jimcasaer commented on #245
@mvarewyck

As promised I contacted the HVV for the temporary solution:
- when we provide a list of KBO-numbers and a pasword for each they can distribute the passwords to each GMU (WBE)
- they ask however that we also add the ESRI - number and the name of the GMU as a doublecheck to the list

For the second part of the task (the technical analysis of possibilities for direct login from within the

[2022-01-12 13:07] SanderDevisscher commented on #245
will HVV provide some list to crossreference the ESRI - Number to the KBONrs ?

[2022-01-12 13:20] jimcasaer commented on #245
I will ask :-)

[2022-01-12 14:50] SanderDevisscher commented on #245
@jimcasaer can we assume the wbe's in [WBE vs KBO.xlsx](https://github.com/inbo/reporting-rshiny-grofwildjacht/files/7855406/WBE.vs.KBO.xlsx) are all members from HVV ? Meaning we can use this list to generate the list of passwords ?

@mvarewyck where can I/we best save these passwords ?
In this (public) repo ? ifso which folder?
or better an other (private) repo like the [backoffice-wild-analyse]

[2022-01-13 14:29] #265 closed

[2022-01-13 14:38] mvarewyck opened #266 "WBE table"
Building the summary table
![Screenshot from 2022-01-13 15-30-53](https://user-images.githubusercontent.com/22143743/149349152-1527e4b0-3110-4f9f-99c8-f9bdfe8345b6.png)

When extracting info on type for the summary table, I was wondering whether `type_comp` is up to date. E.g. for the species 'Wild zwijn', the type_comp doesn't distinguish for age/gender. Should I combine both age/gender variables

[2022-01-14 08:52] SanderDevisscher commented on #266
It is correct that 'Wild zwijn' does not distinguish for age/gender in the type_comp column. In matter of fact only 'Ree'  should have this distinction ('Damhert' & 'Edelhert' should have neither).

I'll discuss with @jimcasaer wheter its usefull to add some logic on our side to combine the age/gender info for the other species.

It seems only logical to lower the threshold to display a trend, I'm

[2022-01-21 16:43] SanderDevisscher commented on #266
@mvarewyck we came, in meeting with @jimcasaer, to the conclusion it would be best to add the necessary logic to complete the
type_comp column for the other species (besides roedeer). I'll upload the improved data when its completed at our side.

Concerning the threshold we came to an agreement a difference of 10 animals shot should be the threshold for the trend values.

[2022-01-31 09:08] SanderDevisscher opened #267 "Uitleg threshold schrijven"

[2022-01-31 09:55] SanderDevisscher commented on #245
I'll make the password list place it locally (not version controlled by github) send it to HVV & Batmergen@cloudar.be (to be included into the shinyproxy). Once the list is imported into the shinyproxy it is no longer necessary to keep the local list (all changes will be logged here).

[2022-01-31 10:03] mvarewyck opened #268 "Add KBO for schade data"
Can we add the KBO to the [schade data](https://github.com/inbo/reporting-rshiny-grofwildjacht/blob/218_test_wbe/reporting-grofwild/inst/extdata/WildSchade_georef.csv) ?
This would help us to make a subset of the schade data for the current/selected WBE.

[2022-01-31 10:09] SanderDevisscher commented on #268
UUID;IndieningID;IndieningStatusID;Commentaar;VersieNummer;SnapshotIndieningID;IndieningTypeVersieID;AttachmentSetID;Jaartal;DossierNummer;indieningTypeSoftDeleted;IndieningSoftDeleted;IndieningType;indieningSchadeId;IndieningSchadeBasisCode;DiepteSchadeTypes;IndieningSchadeCode;SchadeTypeCodeHier;IndieningLocatieID;LocatieTypeID;LocatieTypeCode;locatieSoftDeleted;LocatieType;locatieTypeSoftDelete

[2022-01-31 11:02] SanderDevisscher commented on #267
Een voorstel:

[2022-02-01 12:30] SanderDevisscher commented on #266
@mvarewyck can you provide a option to display the data based on label_type (only roedeer)<sup>1</sup>, type_comp, geslacht_comp or leeftijd_comp?

<sup>1</sup>I'll provide this column with the improved type_comp. The new type_comp should only contain data when both leeftijd & geslacht are known otherwise it will be `NA`.

[2022-02-01 14:46] mvarewyck commented on #268
Indeed, it was just not read at our side.

[2022-02-01 14:46] #268 closed

[2022-02-01 15:39] SanderDevisscher commented on #266
@mvarewyck I still have one question pending concerning the labeltype column. When it is resolved I'll let you know. I don't expect any large structural/content changes to both columns so you can use it like provided now.

[2022-02-02 16:05] mvarewyck opened #269 "WBE gauge"
1. For the accuracy graph: we can define 3 color groups. Currently:
0-30: red
30-50: orange
50-100: green

2. For the calculation: we look at the data of the current year. For these records we calculate the percentage that have registered 'leeftijdscategorie_MF' AND 'Leeftijdscategorie_onderkaak'.

3. We show it both for the WBE page and the Grofwild page.

![Screenshot from 2022-02-02 17-00-28](h

[2022-02-02 16:14] SanderDevisscher commented on #269
with color groups do you mean shades of ... ? for example in the case of red, dark red to orangish red ?
Or do you use fixed colors ?

for the calculation you should subset the data with both 'leeftijdscategorie_MF' AND 'Leeftijdscategorie_onderkaak', of this subset you should calculate the share where both are the same, thus displaying the rate of accurate age determination by the hunters.

I wou

[2022-02-02 16:20] mvarewyck commented on #269
It's using fixed colors: see for example https://stackoverflow.com/a/46876686

[2022-02-02 16:33] SanderDevisscher commented on #269
That's ok

[2022-02-09 11:49] mvarewyck opened #270 "FIGUUR: Toegekende en verwezenlijkte labels WBE"
(1) Currently we have data only on province level:
https://github.com/inbo/reporting-rshiny-grofwildjacht/blob/218_test_wbe/reporting-grofwild/inst/extdata/Toekenningen_ree.csv
Can we also get it on WBE level?

(2) In the graph, actually the blue bar represents the number of non-realized shot animals = assigned - realized. I currently calculated it as suggested, so the total bar height represents

[2022-02-09 12:45] SanderDevisscher commented on #270
see e366df8

perfect

In my opinion 'verwezenlijkt' and 'niet-verwezenlijkt' do better cover what is displayed so **ok** for me, @jimcasaer what do you think ?

I would say the popup should display  no. of 'niet-verwezenlijkt' when hovering over the blue bar. however I would, if possible, display  no. of 'verwezenlijkt', no. of 'niet-verwezenlijkt', 'toegekend' & 'percentage verwezenlijkt' when us

[2022-02-09 14:03] mvarewyck commented on #270
The 'toegekend' numbers in the old data (Toekenningen_ree.csv) and new data (Verwezenlijkt_categorie_per_afschotplan.csv) differ.
Should we keep the old data for the `tableProvince()` function while using the new data for `countYearRealizedShot()` function?  Or should the new data replace the old?

[code]

[2022-02-09 14:36] SanderDevisscher commented on #270
@mvarewyck I found a mistake in the calculation of the old data, it used an old & incorrect source file. I fixed it, see a7e8ae5.

[2022-02-10 08:13] mvarewyck commented on #270
How the plot currently looks for 1 WBE

![Screenshot from 2022-02-10 09-12-24](https://user-images.githubusercontent.com/22143743/153365039-0ed5a208-fb3b-41a2-a758-75388a43a76b.png)

[2022-02-10 08:20] mvarewyck commented on #270
Can you provide a text for this graph to be shown in the application?

[2022-02-10 11:22] jimcasaer opened #271 "term : "wildapp""
Op dit moment verschijnt de term "wildapp" als naam van het tabblad
Gezien alle verschillende app's die al bestaan en nog ontwikkeld worden en de chaos hierover zou het denk ik beter zijn dat we hier voor deze rapporteringspagina een andere term gebruiken (naam voor het tabblad).

Eventueel gewoon "grofwild - inbo" of zoiets ?
wat denken jullie ?

[2022-02-16 11:02] SanderDevisscher commented on #271
@jimcasaer is dit niet iets waar we Koen Vanmuylem bij moeten betrekken ?
Ik zou persoonlijk voor "inbo - grofwild" gaan (en "inbo - exoten" vr exoten - portaal)

[2022-02-16 11:15] SanderDevisscher commented on #270
A suggestion:

@jimcasaer wat denk jij ?

[2022-02-16 12:16] jimcasaer commented on #271
ik denk niet dat koen daar ooit bij betrokken is geweest
en volledig akkoord met inbo-grofwild
dus gaan met die banaan

[2022-02-16 12:18] SanderDevisscher commented on #271
"inbo-grofwild" it will be. @mvarewyck can you implement the necessary changes?

[2022-02-17 13:16] SanderDevisscher opened #272 "Difference in totals for Roedeer"
# Title Figuur/Tabel: Evolutie gerapporteerd afschot Vlaanderen & FIGUUR: Afschot per jaar en per leeftijdscategorie (o.b.v. onderkaak)
## Bug description:
The totals for several years differ between Figuur/Tabel: Evolutie gerapporteerd afschot Vlaanderen & FIGUUR: Afschot per jaar en per leeftijdscategorie (o.b.v. onderkaak) for roedeer. In the case of 2020 this is a difference of exactly 100 ind

[2022-02-17 13:19] SanderDevisscher commented on #272
PS this is the live version. I'm working on an update and the issue presists. Still with a difference of 100 animals for 2020.

[2022-02-17 15:42] mvarewyck commented on #271
This is something to be implemented at shinyproxy configuration level.
I'll pass the message to Mergen Batbayar

[2022-02-17 16:27] mvarewyck commented on #172
I think it might be due to `shinycssloaders::withSpinner()`.
To be further investigated

[2022-02-18 12:46] SanderDevisscher opened #275 "NEW feature: korte biotoopbeschrijving:"
# Suggested Title
Biotoop samenstelling

## INFO:
### Position
- Next to or just below "Gerapporteerd afschot/100ha voor ree in jjjj"
### Description/Disclaimer
- To be dicussed
### Datacolumns
- These files contain per wbe data on the area (in m2, ha, km2) of bos, water, akker, grasland, bebouwing & andere as well as the total area and the respective percentages of the different habitats. These v

[2022-02-18 12:52] SanderDevisscher commented on #275
Currently this is worked out as a popup when clicking on the map. However I think its beter to display it as a seperate graph.

[2022-02-18 13:07] SanderDevisscher commented on #266
@mvarewyck is it possible to add/calculate the total trend also ?

This question is resolved and it resulted in no significant changes

[2022-02-18 13:10] SanderDevisscher opened #276 "Default alle bronnen aan bij FIGUUR: Schademeldingen"
@mvarewyck can you set all datasources as default value ?

[2022-02-18 13:24] SanderDevisscher opened #279 "Percentages with decimals"
### Discussed in https://github.com/inbo/reporting-rshiny-grofwildjacht/discussions/274

<div type='discussions-op-text'>

<sup>Originally posted by **SanderDevisscher** February 18, 2022</sup>
@jimcasaer Currently some percentages below graphs/maps are displayed without decimals, while others have 1 (see examples below). I think it is best to pick one and apply it to all. I would like to advocate

[2022-02-21 09:04] SanderDevisscher opened #280 "Long term datastorage"
De databagage van deze repo is wat aan het aandikken. Op lange/middellange termijn zou het nuttig zijn om de data (deels) te stockeren op een ander medium dan github (bvb s3 bucket van aws).

To be seen.

[2022-02-21 09:14] SanderDevisscher opened #281 "Add option Aantal per 100 ha dekking"
@jimcasaer I checked and habitattype "bos" in the habitatlist corresponds with "cover" determined by the OBF (see https://github.com/inbo/backoffice-wild-analyse/issues/756#issuecomment-986633082 & [707d4bb](https://github.com/inbo/backoffice-wild-analyse/commit/707d4bb7ee62fc781db2dd5af9a2555e563eba31))

Does this mean the option "Aantal per ha dekking" should be calculated as follows, `No animal

[2022-02-21 09:17] SanderDevisscher opened #282 "Omit other wbe's from map ?"
### Discussed in https://github.com/inbo/reporting-rshiny-grofwildjacht/discussions/278

<div type='discussions-op-text'>

<sup>Originally posted by **SanderDevisscher** February 18, 2022</sup>
Currently the other wbe's are greyed out on the map. Furthermore they get a NA value implying missing data. This however is not (allways) the case.

![image](https://user-images.githubusercontent.com/167793

[2022-02-21 09:18] SanderDevisscher commented on #282
@mvarewyck I'll provide the dissolved jachtterreinen.

[2022-02-22 13:14] mvarewyck commented on #275
Current proposal below. Notes/questions:

1. We don't have 'percentage bebouwd' in the data
2. Currently the bars are always sorted in same order (starting with bos and ending with andere). Another option is to sort them from large to small

![Screenshot from 2022-02-22 14-12-34](https://user-images.githubusercontent.com/22143743/155139306-3e8ab493-07d2-4642-af12-4974610b7f7d.png)

[2022-02-22 13:41] SanderDevisscher commented on #282
@mvarewyck I've uploaded the dissolved jachtterreinen.geojsons (see 612718e).
This however poses the question which season should correspond to which year?
@jimcasaer the wbe_binnengrenzen are created on year basis while the jachtterreinen are created by huntingseason, covering a part of 2 years. So which season of the jachttereinen should correspond to which year of the binnengrenzen ?
These are

[2022-03-03 10:15] SanderDevisscher commented on #275
@mvarewyck I modified the habitat_lists to include the percentage urbanisation (perc_bebouwd) zie
8375535

[2022-03-03 11:47] mvarewyck commented on #275
Thanks, this is automatically picked up by our function `barBiotoop()`: it shows all variables that contain `perc` in the WBE_habitats data.

Open question @SanderDevisscher
- [ ] Currently the bars are always sorted in same order (starting with bos and ending with andere). Another option is to sort them from large to small

![Screenshot from 2022-03-03 12-43-44](https://user-images.githubusercont

[2022-03-03 12:18] SanderDevisscher commented on #275
I would sort them based on their importance for the species.
This would result in the following order: bos > grasland > landbouw > water > bebouwd > andere

@jimcasaer what do you think ?

[2022-03-03 15:32] mvarewyck commented on #269
Now, the accuracy is for the selected period instead of the current year.
NOTE: I have removed the label at the bottom indicating the total number as it can not be updated correctly when changing the selected period (previously it was constant).

![Screenshot from 2022-03-03 16-31-47](https://user-images.githubusercontent.com/22143743/156596874-eed8a705-e185-4572-a67b-db60e3c04cd3.png)

[2022-03-03 15:56] mvarewyck commented on #282
As the colors (and legend) are not used in this case for 1 WBE, I would suggest to show both years and have different color for each year. If the user wants he can easily deselect one of the polygons using the legend

[2022-03-03 19:29] jimcasaer commented on #275
Sounds perfect
only one comment based on discussion last week => change bos into bos & natuur

[2022-03-04 12:20] SanderDevisscher opened #283 "BUG: background on map disappears when switching units"
# Title Figuur/Tabel:
**Landkaart**
## Bug description:
background on map disappears when switching units. This error occurs when testing locally via docker. This error happens when switching from aantal to aantal/100ha and visa versa.
## Screenshot:

[2022-03-04 13:42] SanderDevisscher opened #284 "BUG: graph not populated when selecting "aantal/100ha""
# Title Figuur/Tabel:
**Evolutie gerapporteerd afschot**
## Bug description:
When switching the unit to "aantal/100ha" the line of the graph disappears. But when switching back to "aantal" the graph is rendered as expected.
## Screenshot:
graph when unit == "aantal/100ha"
![newplot(1)](https://user-images.githubusercontent.com/16779320/156765181-e41ada25-a71b-4b9b-93d0-c5b7e29c5612.png)

graph whe

[2022-03-04 14:09] SanderDevisscher commented on #269
@mvarewyck something weird is happening here somehow the commit c797425 does not show up in my github desktop History.
I'll try restarting my laptop to see if that fixes the issue. I'll keep you posted.

[2022-03-07 08:14] SanderDevisscher commented on #269
This is resolved

[2022-03-07 08:29] mvarewyck commented on #280
For now I've moved all geojson files already outside the R package. They are summarized in a single R object `spatialData.RData` https://github.com/inbo/reporting-rshiny-grofwildjacht/blob/master/reporting-grofwild/inst/extdata/spatialData.RData

[2022-03-07 09:14] SanderDevisscher opened #287 "Please note that 'maptools' will be retired by the end of 2023,"
### Discussed in https://github.com/inbo/reporting-rshiny-grofwildjacht/discussions/286

<div type='discussions-op-text'>

<sup>Originally posted by **SanderDevisscher** March  4, 2022</sup>
@mvarewyck while building the app in docker I noticed the following text "Please note that 'maptools' will be retired by the end of 2023".
I was wondering if this will be a issue in the future ?</div>

[2022-03-07 10:25] SanderDevisscher commented on #287
@mvarewyck can you check which functions from maptools we use and thus need to incorperate into this package ?

[2022-03-07 12:13] mvarewyck commented on #281
Notes

1. This option is currently named 'Aantal/100ha bos & natuur' in the UI. Let me know if it should be changed to  'Aantal/100ha dekking'.
2. If this option should also be available in the public app (later), I will need a dataset with biotoopData (Area_hab_km2_bos per year and per region).

[2022-03-07 13:22] mvarewyck commented on #287
Currently used in two functions within `reportingGrofwild::readShapeData()`
[code]

[2022-03-08 08:39] SanderDevisscher commented on #282
@mvarewyck after a discussion with @jimcasaer  we came to the conclusion that for the year 2021 we like to display the jachterreinen 2021 - 2022. So no option to select/display a previous season.

[2022-03-08 08:42] SanderDevisscher opened #290 "dataset or institution as datasource??"
### Discussed in https://github.com/inbo/reporting-rshiny-grofwildjacht/discussions/258

<div type='discussions-op-text'>

<sup>Originally posted by **SanderDevisscher** November 17, 2021</sup>
@jimcasaer momenteel gebruiken we zowel organisaties (Natuurpunt en HVV) als datasets (E-loket) als mogelijke filter voor wildschade. Dit is niet echt consequent.

Daarom vroeg ik me af nemen we de datasets

[2022-03-08 08:42] SanderDevisscher commented on #290
https://github.com/inbo/reporting-rshiny-grofwildjacht/discussions/258#discussioncomment-2314682

[2022-03-08 14:03] mvarewyck opened #291 "Streamline changes to text"
### Discussed in https://github.com/inbo/reporting-rshiny-grofwildjacht/discussions/260

<div type='discussions-op-text'>

<sup>Originally posted by **SanderDevisscher** November 19, 2021</sup>
@mvarewyck in #257 we asked you to make a "simple" change to the ui text. I expect these changes to be frequent so I was wondering
is there an option to have a similar system to #254 (ea a separate file wit

[2022-03-08 15:31] mvarewyck commented on #291
The file [`uiText.csv`](https://github.com/inbo/reporting-rshiny-grofwildjacht/blob/218_test_wbe/reporting-grofwild/inst/extdata/uiText.csv) has following columns:
- plotFunction: refers to the R-function that uses the text from this line
- title: title for the plot/table
- wild: description for the plot/table on the webpage 'Grofwild'
- schade: description for the plot/table on the webpage 'Wilds

[2022-03-09 09:55] #284 closed

[2022-03-09 09:55] #283 closed

[2022-03-09 11:55] mvarewyck commented on #282
Proposal showing the 'WBE_binnengrenzen' as border and 'Jachtter' as filled area.
@SanderDevisscher : for calculating the total area (for relative freq) should we use 'WBE_binnengrenzen' or 'Jachtter'?

![Screenshot from 2022-03-09 12-51-37](https://user-images.githubusercontent.com/22143743/157436700-2d2e7923-69f6-4c4a-ad3d-7b88b8337bb5.png)

[2022-03-09 13:18] mvarewyck commented on #282
Note about different year ranges for measurements:
- jachtter geojson: start at 2016
- WBE_binnengrenzen geojson: start at 2014
- WBE habitats csv: start at 2014 - but for WBE_NR 441 only data since 2015
So, depending on the 'unit' the user selects the app will show missing data since 2014, 2015 or 2016

[2022-03-15 09:33] SanderDevisscher commented on #282
You should use the 'WBE_binnengrenzen' to calculate the relative freq.

Also the 'Jachtter' are only aesthetic. I was thinking it would be better to display them as polylines/polygons with low opacity  on top of the wbe_binnengrenzen, which are colored by the value.

[2022-03-21 08:13] mvarewyck commented on #282
![Screenshot from 2022-03-21 09-12-17](https://user-images.githubusercontent.com/22143743/159224370-1803752e-2a2a-42de-9656-ffbc78c4a7b1.png)

[2022-03-21 10:31] mvarewyck commented on #271
As discussed during the meeting 21st March, also for the WBE app have the name 'inbo-grofwild'

[2022-03-22 13:56] mvarewyck opened #292 "Category 'onbekend' for countEmbryos"
Jim suggested to include an extra category 'onbekend' for the plot on the number of embryos.
This because the percentage of included observations was < 100%.

However, I found this percentage was below 100% because we calculated it before filtering on the multiple 'Data bron'.
Now, the percentage is always 100% and none of the observations are in 'Onbekend'.
Does it still make sense then to add th

[2022-03-22 14:07] SanderDevisscher commented on #292
@mvarewyck does this mean we know the number of embryo's  for all female animals of a certain age (smalree/reegeit) ?

[2022-03-22 14:16] SanderDevisscher commented on #292
I would think it is relevant to know which share of the female animals we have no info on reproduction for. Therefor I would select the females of a certain age (determined by the datasources) and display the number of embryos for this group including the unknowns. This would mean the size of the bar is determined by the choice of datasource for age and sex while the colors are determined by the d

[2022-03-22 14:24] SanderDevisscher commented on #292
the total should display the number of females then

[2022-03-22 15:19] mvarewyck commented on #292
Those with missing 'aantal_embryos' also have missing 'aantal_embryos_bron' therefore we obtain 100% when filtering on specific sources for embryos.
So, you would always include the records with missing data source for embryos. Then we have indeed some records with missing number of embryos after filtering on age and sex source.

[2022-03-22 15:34] mvarewyck commented on #292
Updated

Note: I have moved the unknowns to the top, so they can more easily be ignored

![Screenshot from 2022-03-22 16-32-34](https://user-images.githubusercontent.com/22143743/159519430-d58e024e-bbdb-4a89-9423-8172e4b47d21.png)

[2022-03-22 15:42] mvarewyck commented on #292
Fixed in 2d884f5ba4f67e08ba4e691d6c1cf5e1f86aa5e6

[2022-03-25 12:04] mvarewyck opened #293 "labeltype for wild zwijn in ecodata"
![Screenshot from 2022-03-25 12-59-14](https://user-images.githubusercontent.com/22143743/160117059-9017f0a8-1b53-477a-a234-983bde74d80d.png)

NB: Plot as will be on grofwild page.

For wild zwijn there are 2 choices for labeltype: "wild zwijn"  "wild zwijn*"
Is there a reason for the 2nd one?

1. If not, could it be removed at your side?
2. If so, should we add it as a "Type" choice for the plot?

[2022-03-25 12:11] mvarewyck opened #294 "FIGUUR: Afschot per jachtmethode"
As suggested during last meeting, we include 'Interval' choice for figuur Afschot per jachtmethode
This is the new plot as it will look on the *grofwild* page.
![Screenshot from 2022-03-25 13-06-46](https://user-images.githubusercontent.com/22143743/160118290-cfceae06-8b87-4488-8ee3-89e92c14798c.png)

This is the old plot
![Screenshot from 2022-03-25 13-05-11](https://user-images.githubusercontent

[2022-03-25 13:22] SanderDevisscher commented on #293
No there isn't!! probably a typo

I'll remove it a our side. see [issue #810](https://github.com/inbo/backoffice-wild-analyse/issues/810) of the backoffice

the type is less relevant for wild zwijn then for roedeer.  I think its best to disable the type dropdown when the selected species is not roedeer.

[2022-03-25 13:37] SanderDevisscher commented on #294
Yes, I think its a good idea

I'll discuss this with @jimcasaer

[2022-03-25 15:04] mvarewyck opened #295 "Habitat data for FBDZ"
Related to #281

@SanderDevisscher uploaded habitat data for faunabeheerdeelzones. These are 2 files.
* I guess one is with relevant data until the year 2018 and the other from 2019 onwards?
* In the app FBDZ regions (shapes) are currently the same before and after 2019. Single file https://github.com/inbo/reporting-rshiny-grofwildjacht/blob/218_test_wbe/data/fbz_gemeentes.geojson
* In the 2019-fi

[2022-03-25 15:33] SanderDevisscher opened #296 "BUG: couldn't find package 'plotly' when building in docker"
@mvarewyck I get the following error when building the app (from the `test_wildschade`- branch) in docker:
[code]
when I try to run `devtools::install_version('plotly', version = '4.9.2.1', repos = 'http://cran.us.r-project.org')` directly in R I get a similar error while `devtools::install_version('plotly', version = '4.9.2.1', repos = 'http://cran.r-project.org')` runs just fine. I'm currently t

[2022-03-25 15:36] SanderDevisscher commented on #296
UPDATE: URL change from _http://cran.us.r-project.org_ to _http://cran.r-project.org_ fixes the issue.

[2022-03-28 08:52] mvarewyck opened #297 "Habitat data for multiple regions"
For WBE we could only have 1 region. When including the habitat plot for grofwildjacht, the user can select multiple regions.
How should they be displayed in the plot?

Single region (Flanders)
![Screenshot from 2022-03-28 10-45-52](https://user-images.githubusercontent.com/22143743/160361082-008d7560-9fd6-487b-b2d9-0900cadd6fe1.png)

Multiple regions (Provinces)
![Screenshot from 2022-03-28 10-45

[2022-03-28 11:38] SanderDevisscher commented on #297
Your sugestions look good, however I would limit the maximum number of regions displayed in this graph. Thus when the user selects more than 9 (open for discussion but if i remember correctly this is the number of colors in the inbotheme)  areas should be summed up and displayed as if they are one.

perfect

this is probably due to accuracy differences between the shapes. I'll look into a way to b

[2022-03-28 12:31] mvarewyck commented on #296
For me, the original link still works locally.
However, it's fine to update the link to what you propose if it works.

[2022-03-28 12:31] #296 closed

[2022-03-28 13:51] SanderDevisscher opened #298 "Make wildschade sources more dynamic"
The list of wildschade sources is current hardcoded, see lines below:

https://github.com/inbo/reporting-rshiny-grofwildjacht/blob/master/reporting-grofwild/R/loadData.R#L457-L462

I was wondering if it is possible to make these lists more dynamic ?
ea all datasources with E_loket as E_Loket (ANB), those with Natuurpunt as Dieren onder de wielen (NP) and HVV_Wilder as Wilder (LJV).

Additionally,

[2022-03-28 14:01] mvarewyck commented on #297
Thanks for the feedback.
For more than 9 (max unique colors) regions we display the **average** percentage and add a warning
![Screenshot from 2022-03-28 15-57-52](https://user-images.githubusercontent.com/22143743/160414492-538914b4-19e0-41c6-aded-ce0ff18e06ae.png)

For reference - the according trend plot with warning
![Screenshot from 2022-03-28 15-58-09](https://user-images.githubusercontent.c

[2022-03-29 07:52] mvarewyck commented on #293
Currently, the type option is visible but the only choice is 'alle'

[2022-03-29 07:54] #276 closed

[2022-03-29 07:55] #275 closed

[2022-03-29 07:56] #270 closed

[2022-03-29 07:56] #269 closed

[2022-03-29 14:12] mvarewyck commented on #266
Included option to choose 'Categorie' and generalized according text in file [uiText.csv](https://github.com/inbo/reporting-rshiny-grofwildjacht/blob/218_test_wbe/reporting-grofwild/inst/extdata/uiText.csv)

Current labels for each variable:
- label_type (only roedeer) = label
- type_comp = type
- geslacht_comp = geslacht
- leeftijd_comp = leeftijd

![Screenshot from 2022-03-29 16-09-43](https://u

[2022-03-29 15:11] #290 closed

[2022-03-30 11:33] SanderDevisscher commented on #297
@mvarewyck does the combination functionality like with the trend plot also apply to the habitat constitution graph ? ifnot, it should ;-)

[2022-04-04 09:16] SanderDevisscher opened #300 "New Feature verwezenlijkings graphs for public app"
Na overleg zijn we eruit dat we de 2 grafieken willen toevoegen.

1. Geeft de trend van de realisatiegraad binnen een provincie/vlaanderen weer dmv een boxplot van het percentage_verwezelijkt per wbe uit Verwezenlijkt_categorie_per_afschotplan.csv met de optie om weer te geven per provincie of vlaanderen
2. Geeft de absolute verwezenlijking weer dmv een barplot van aantal toegekende/ aantal verwez

[2022-04-04 09:19] SanderDevisscher commented on #300
The graphs can only be made for roedeer and should be placed just above bioindicators

[2022-04-05 12:59] #172 closed

[2022-04-05 12:59] #298 closed

[2022-04-19 12:24] mvarewyck commented on #262
Which 'types' should we consider for Wild zwijn? I think "Zeug", "Overloper (v)"
For reference: Ree has "Reegeit", "Smalree"

[2022-04-19 12:25] mvarewyck commented on #262
![Screenshot from 2022-04-19 14-25-27](https://user-images.githubusercontent.com/22143743/164003066-69bf7067-eb77-4fd4-86b5-1960e42e8055.png)

[2022-04-19 12:31] mvarewyck opened #301 "Update text bio-indicatoren"
Related to #262

Could you please generalize the text in [uiText file](https://github.com/inbo/reporting-rshiny-grofwildjacht/blob/master/reporting-grofwild/inst/extdata/uiText.csv#L3) so that is relevant for wild zwijn too?

[2022-04-19 12:32] SanderDevisscher commented on #262
In case of Wild zwijn we should also consider frisling (v).

Also in case of wild zwijn the limit of 3 embryos should be removed since wild zwijn has on average 6 embryos.

[2022-04-19 12:41] SanderDevisscher commented on #301
In which branch should I make these changes ?

[2022-04-19 12:59] mvarewyck commented on #262
- We automatically remove the 'Opmerking' wrt more than 3 embryos if species is 'Wild zwijn'
- Mind the duplicated colors because > 9 categories are displayed. Alternatively, we could group them, e.g. : <3, 4, ..., 8, > 8

![Screenshot from 2022-04-19 14-55-10](https://user-images.githubusercontent.com/22143743/164008806-7514f5ea-6874-4297-9c70-117ee4f5f44a.png)

[2022-04-19 13:03] SanderDevisscher commented on #262
I would suggest using 0, <3, 4, 5, 6, 7, 8, 9 & >9. @jimcasaer what do you think ?

[2022-04-19 13:23] mvarewyck commented on #262
Categories can still be updated easily.

![Screenshot from 2022-04-19 15-22-51](https://user-images.githubusercontent.com/22143743/164013771-99f3a6a9-edf9-4013-8c94-d73e22901a1f.png)

[2022-04-19 13:25] mvarewyck commented on #301
New branch: update_mei_2022

[2022-04-19 15:20] mvarewyck commented on #263
Remarks:
- In parallel with other plots that display leeftijd_comp, we included filter for 'Data bron leeftijd'. Choices are
   * INBO or
   * INBO and meldingsformulier
- In parallel with other plots, when selecting Wild zwijn & data bron INBO, we distinguish for Frisling between <6m and >6m

![Screenshot from 2022-04-19 17-16-36](https://user-images.githubusercontent.com/22143743/164037910-a942d

[2022-04-19 15:42] SanderDevisscher commented on #263
Looks good

[2022-04-20 15:21] mvarewyck commented on #300
Screenshot of the 2nd plot request:

![Screenshot from 2022-04-20 17-20-30](https://user-images.githubusercontent.com/22143743/164265513-df458a7a-9ce8-4df4-9e73-d4f3ec336a7d.png)

[2022-04-20 15:42] SanderDevisscher commented on #300
a single boxplot over the selected provinces per year. The users can compare the different provinces by (un)checking a province.

Yes

[2022-04-21 15:04] mvarewyck commented on #300
How do we summarize over the different labeltypes? For counts we could do the sum but for the percentage I would suggest to take the average.

[2022-04-21 15:42] jimcasaer commented on #300
for the boxplots ?
if we summarize we simply take the total number of animals shot / total number of attributes per wbe and create the boxplot based on those figures - makes sense ?

[2022-04-22 07:54] mvarewyck commented on #300
Makes totally sense.

Screenshot of the 1st plot request:
![Screenshot from 2022-04-22 09-52-07](https://user-images.githubusercontent.com/22143743/164643295-a0d2b819-397c-4b08-943c-4edd472afae7.png)

[2022-04-22 08:02] jimcasaer commented on #300
Nice !
En het corona-effect 2020 is heel duidelijk zichtbaar !!

Ga je kunnen 'hooveren' op deze plots ?

[2022-04-22 08:19] mvarewyck commented on #250
This is due to the fact that we only report percentages if there are more than 50 observations, see e.g. https://github.com/inbo/reporting-rshiny-grofwildjacht/issues/266#issuecomment-1012909374
The 50 observations rule applies both to the current year AND x-1 | x-5 | x-10 years before. So we report the percentage for x-5 only if the current and x-5 years have more than 50 observations.

This can

[2022-04-22 08:23] mvarewyck commented on #300
Hoover screenshots

![Screenshot from 2022-04-22 10-21-20](https://user-images.githubusercontent.com/22143743/164648771-2afc7169-bcac-4443-b6af-028fedb3a589.png)

![Screenshot from 2022-04-22 10-22-40](https://user-images.githubusercontent.com/22143743/164648757-5fd0b03f-dd02-4385-b7fb-09214f239b00.png)

[2022-04-25 11:38] SanderDevisscher commented on #295
@mvarewyck shall I upload the habitat data for fbz_gemeentes to the `update_mei_2022` or `218_test_wbe` branch ?

[2022-04-25 11:39] SanderDevisscher commented on #295
Same question for the jachtterreinen?

[2022-04-25 12:04] SanderDevisscher commented on #301
allready fixed ?

[2022-04-25 12:24] SanderDevisscher commented on #250
ifso then there is something wrong allready since in my example only the current year has a total > 50 observations while the x-5 (2016) has not. Still the trend is displayed.

I would argue in favor of the following:
1. We maintain the 50 obs - rule, but
2. We color the trend yellow when one of the years has < 50 obs (like example)
3. and we color the trend red when both of the years have < 50 ob

[2022-04-26 07:15] mvarewyck commented on #295
No strong preference, but maybe best to do it on the 218_test_wbe branch.

Op ma 25 apr. 2022 13:40 schreef Sander Devisscher ***@***.***

[2022-04-26 09:04] mvarewyck commented on #301
The text still focuses on 'Ree' while it should also apply to 'Wild zwijn'
https://github.com/inbo/reporting-rshiny-grofwildjacht/blob/update_mei_2022/reporting-grofwild/inst/extdata/uiText.csv#L3

[2022-04-26 09:21] mvarewyck commented on #250
I can't reproduce this. With the online app I have 130 observations for wild zwijn in 2016 and indeed only 50 for 2020.

![Screenshot from 2022-04-26 11-18-30](https://user-images.githubusercontent.com/22143743/165267446-5739208e-a220-4896-9900-657d1ad7e488.png)

[2022-04-26 10:30] SanderDevisscher commented on #301
Ah, I was looking at the text for the embryo graph. My mistake!

Op di 26 apr. 2022 11:04 schreef Machteld Varewyck ***@***.***

[2022-04-26 10:54] mvarewyck commented on #250
I've implemented a proposal.

Remarks:

- If either the current or (1/5/10) previous year has 0 observations, we still don't show the trend. Otherwise this would result in -Inf, +Inf labels in the table
- We changed to code to have color if < min. for trend (50) instead of <= min. for trend (50) in accordance with the warning text
- Same changes apply to WBE table for Species
- Downloaded table ha

[2022-05-06 08:47] SanderDevisscher opened #302 "add Evolutie schademeldingen to wbepagina"
# Suggested Title
 Evolutie schademeldingen

## INFO:
### Position
- below schademeldingen map
### Description/Disclaimer
- nvt
### Datacolumns
-
### Filters
-
### Code example
[code]
### Layout example
![newplot](https://user-images.githubusercontent.com/16779320/167098812-3943bc2b-7c21-4f51-9168-3416ddce2a77.png)

### Additional Options
- Download data
- ...

[2022-05-06 08:51] SanderDevisscher opened #303 "New feature: add data bron filter to FIGUUR: Geslachtsverdeling binnen het afschot per leeftijdscategorie"
Add data bron filters for leeftijd and geslacht to `FIGUUR: Geslachtsverdeling binnen het afschot per leeftijdscategorie` like most other graphs.
This feature may be included in the wbe page as well.

[2022-05-06 09:05] SanderDevisscher commented on #301
@jimcasaer can you have a look at https://github.com/inbo/reporting-rshiny-grofwildjacht/blob/update_mei_2022/reporting-grofwild/inst/extdata/uiText.csv#L3

@mvarewyck I've added a text split indicator {=ree}. Can you provide the necessary logic needed to show the part after it when the wildsoort in question is selected ?

[2022-05-11 08:17] SanderDevisscher opened #304 "wbepagina should begin @2014 not 2016"
Currently the wbepagina starts at 2016 due to the fact we have only jachtterrein info since then. But we have wbe info since 2014 so I suggest 2014 should be the data start year, not 2016. For 2014 & 2015 the map should then only display the outer limits (binnengrenzen :-p) of the wbe and omit the jachtterreinen.

[2022-05-11 16:36] SanderDevisscher opened #305 "BUGs: TABEL: Aantal schademeldingen per type schade"
# Title Figuur/Tabel: _"TABEL: Aantal schademeldingen per type schade"_
## Bug description:
When testing the may update in docker I get the following error @ TABEL: Aantal schademeldingen per type schade

the error occurs when using the provincie & faunabeheerzones regio filters. The regio filter Vlaanderen works but
something is wrong with the total column (see screenshot below).

## Screenshot:

[2022-05-12 07:48] mvarewyck commented on #302
Turned out to be a bit more complex. I had to copy some info from other datasets. For future, it would be good if the file "WildSchade_georef.csv" could contain:
* WBE_Naam_Toek: to be displayed in the title of the plot
* PartijNummer: to have correct matching with the spatial data region names
* [to minor extent] DiersoortNaam: Have same capitalization as for the grofwild data (e.g. Wild zwijn in

[2022-05-12 08:04] SanderDevisscher commented on #302
Schade is not directly linked to a wbe instead we georef it. So unlike with the afschotdata you can/may/must use the columns `KboNummer` & `WBE_Naam_Georef`

I'll add the PartijNummer

I'll look into it

[2022-05-12 08:46] SanderDevisscher opened #306 "NEW Feature: Afschot locations"
# Suggested Title: _"KAART: Gerapporteerd afschotlocaties voor {wildsoort} in {periode}"_

## INFO:
This map should display the reported locations of the afschot with a buffer (in m) based on the `verbatimCoordinateUncertainty`

### Position
- Just below habitat information (closed)
### Description/Disclaimer

### Datacolumns
- `verbatimLatitude`
- `verbatimLongitude`
- `verbatimCoordinateUncertai

[2022-05-12 11:29] mvarewyck commented on #305
There was a problem with the header (introduced by https://github.com/inbo/reporting-rshiny-grofwildjacht/issues/254)

[2022-05-12 13:28] mvarewyck commented on #304
(1) I think it's due to the fact that we have no geographical data for Wild zwijn before 2016:

[code]
If you select 'Ree' in the WBE page, you can see the year starts already at 2014

(2) When selecting before 2016, there is still an error in the map (probably due to missing jachtterreinen. Working on it.

[2022-05-13 12:41] SanderDevisscher commented on #305
The initial bug seems to be fixed in docker.
However there is still something weird happening, namely the total for Flanders (2787) when using the province region filter is missing 2 notifications (2785) & 3 notifications (2784) when using the fbz region filter. I think this is due to the land plots being on the border of 2 provinces/fbzs and thus not getting assigned to one. They probably have NA

[2022-05-13 13:06] SanderDevisscher opened #307 "Onbekend does not show on graph"
# Title Figuur/Tabel: "FIGUUR: Verdeling afschot over de jaren"
## Bug description:
The age category "onbekend" does not show on the graph. I think the same error causes the totals to be incorrect, these should equal the total number of animals shot with a afschotdatum (971 for 2022?). I think adding "Onbekend" tot the Leeftijdscategorie - filter could fix the issue.
## Screenshot:
![newplot(4)](h

[2022-05-13 13:50] SanderDevisscher opened #308 "BUG: No data available when Data bron leeftijd == INBO"
# Title Figuur/Tabel: "FIGUUR: Leeggewicht per leeftijdscategorie en geslacht (INBO of Meldingsformulier)"
## Bug description:
When setting Data bron leeftijd to INBO only overloper & volwassen are displayed. Since the ecology file does contain wild boar with leeftijd_comp_bron == "inbo" & leeftijd_comp|Leeftijdscategorie_onderkaak == "Frisling" & !is.na(leeftijd_maanden) one would expect the cate

[2022-05-13 16:29] SanderDevisscher commented on #308
similar & possibly linked issue with "FIGUUR: Gerapporteerd aantal embryo's voor vrouwelijke wilde zwijnen per jaar". Here the "onbekend" does not appear on the graph, see screenshot:
![newplot(8)](https://user-images.githubusercontent.com/16779320/168327164-a38b7669-40ea-4a3f-91da-2d197b13dd60.png)

[2022-05-18 08:54] mvarewyck opened #310 "admin role with access to all WBE"
Allow admin users to login to the shinyproxy instance with username e.g. 'admin'
In the application they will then be able to select from all wbe's using selectInput

[2022-05-19 11:01] mvarewyck commented on #307
Problem was two-fold:
- added onbekend to choices of leeftijdscategorie
- no longer exclude records with missing afschot_datum in `countYearShotAnimals()`

For testing: In 2022 there were no missing leeftijd, while for 2021 there are 8

[2022-05-19 14:33] mvarewyck commented on #308
@SanderDevisscher  For the embryos graph, I'm not sure what you are missing.
In the data, there are only two subjects in 2022 with leeftijd_comp_bron "inbo". The female one with 5 embryos is displayed in the graph. The one for which we don't know gender and type_comp is not. Do you also want to display the latter?

[code]

[2022-05-19 14:58] mvarewyck opened #311 "add niet-bejaagd spatial layer for WBE maps"
@SanderDevisscher could you point me where to find the spatial data for the niet-bejaagd regions?
I was searching here: https://github.com/inbo/reporting-rshiny-grofwildjacht/tree/update_mei_2022/data

[2022-05-23 10:51] SanderDevisscher commented on #308
@mvarewyck you are correct, the graph is correct !

[2022-05-23 11:31] SanderDevisscher commented on #311
@mvarewyck  I've uploaded them here https://github.com/inbo/reporting-rshiny-grofwildjacht/tree/218_test_wbe/data

[2022-05-23 14:34] SanderDevisscher commented on #250
fixed in docker

[2022-05-23 14:51] SanderDevisscher commented on #272
@jimcasaer do you consider it necessary to omit male jaws from this graph ?

[2022-05-23 14:54] jimcasaer commented on #272
@SanderDevisscher : can we hangout on this tomorrow to refresh my mind ? without figure it is hard to answer the question :-)

[2022-05-23 14:55] SanderDevisscher commented on #272
ok

Op ma 23 mei 2022 om 16:54 schreef jimcasaer ***@***.***>:

--

*Sander Devisscher*

Hoofddeskundige

Vlaamse Overheid

INSTITUUT VOOR NATUUR- EN BOSONDERZOEK

Team Faunabeheer en Invasieve Soorten

*M* +32 499 594806

***@***.***

Havenlaan 88 bus 73, 1000 Brussel

www.inbo.be

///////////////////////////////////////////////////////////////////////////////////////////

[2022-05-23 15:29] SanderDevisscher commented on #307
fixed in docker

[2022-05-23 15:34] SanderDevisscher commented on #308
fixed in docker

[2022-05-23 15:52] SanderDevisscher commented on #302
Somehow the schade evolution graph period is not affected by the schade period but by the afschot period. This should be fixed.

[2022-05-24 11:19] mvarewyck commented on #311
I could create the map with the new data
* Do you want to keep the yellow/brown colors or prefer another palette?
* Can you check the colored regions in the plot: whether they are not switched (e.g. niet-aangesloten colored as aangesloten) - I had to do some data manipulation.
* Do you agree with the labels in the legend?

![Screenshot from 2022-05-24 13-17-40](https://user-images.githubuserconten

[2022-05-24 12:02] mvarewyck commented on #304
If I'm correct we decided to keep as is: show since earliest year of data: since 2014 for Ree and 2016 else.
I only need to take a look if we can force the slider to start at 2014 by default for Ree

[2022-05-24 12:04] SanderDevisscher commented on #304
Ok

[2022-05-24 13:41] mvarewyck commented on #311
NOTE: I had to introduce git lfs for the spatialdata files as the one for WBE has size > 100Mb exceeding git's limit.
https://github.com/inbo/reporting-rshiny-grofwildjacht/blob/master/reporting-grofwild/inst/extdata/spatialData.RData
https://github.com/inbo/reporting-rshiny-grofwildjacht/blob/master/reporting-grofwild/inst/extdata/spatialDataWBE.RData
Related to #280

[2022-05-24 14:01] SanderDevisscher commented on #280
In the future wbe_binnengrenzen & jachtterreinen geojsons will be shared via s3 bucket directly from ANB however I don't know how this will work security wise and if it will be usable for the app.

@Jo-Loos can we possibly keep the use of these geojsons in mind when setting up the datastorage on aws ?

[2022-05-24 14:09] SanderDevisscher commented on #280
Both wbe_binnengrenzen & jachtterreinen need some preprocessing so maybe it is an option to create a "new" bucket accessible by the app where I place my "processed" .geojsons (and all the other datafiles for the app)

@Jo-Loos  what do you think about this approach ? Do you think its feasible to dump the files in the bucket using R-scripts ?

[2022-05-24 15:19] Jo-Loos commented on #280
after some brainstorming,

conclusion was that setup similar to one in document ( last image ) would be a likely candidate
it gives the flexibility to test code and data before going live with minimal changes

however if intermediary data needs to be more restricted in form & model, a DB is a beter candidate , but needs more code - changes

![image](https://user-images.githubusercontent.com/197061

[2022-05-25 07:42] SanderDevisscher commented on #301
@mvarewyck I've implemented some more changes to the text. Can you check if its ok like this.
And implement the necessary logic to split the text and display it only when the species in the split indicator is selected ?

[2022-05-25 07:59] #294 closed

[2022-05-25 08:01] #293 closed

[2022-05-25 08:01] SanderDevisscher commented on #291
fixed

[2022-05-25 08:03] SanderDevisscher commented on #281
fixed

[2022-05-25 08:03] #281 closed

[2022-05-25 08:07] #266 closed

[2022-05-25 11:21] Jo-Loos commented on #280
Na kleine bespreking met ontwikkelaars,

![image](https://user-images.githubusercontent.com/19706108/170250525-5985bd96-0303-4f87-8df1-12f3d4bc24d7.png)
best komt er ook een multistage builing zodat niet al het werk nodig voor R packages te installeren opnieuw moet gebeuren

[2022-05-25 11:49] stenmigerode opened #313 "Docker image enhancements"
# TL;DR

Incorporate docker multi-stage builds and improve Dockerfile for generating smaller docker images. And externalize the data as described in #280

Suggestions:

* Only install apt packages that are needed
* Install apt packages that are needed to build the application in the build stage
* Start from a fresh image in the last stage and copy the built application
* Reduce R package sizes? Is

[2022-05-30 06:52] #250 closed

[2022-05-30 06:52] #251 closed

[2022-05-30 06:52] #254 closed

[2022-05-30 06:52] #262 closed

[2022-05-30 06:52] #263 closed

[2022-05-30 06:52] #279 closed

[2022-05-30 06:52] #300 closed

[2022-05-30 06:52] #301 closed

[2022-05-30 06:52] #305 closed

[2022-05-30 06:52] #307 closed

[2022-05-30 06:52] #308 closed

[2022-06-10 08:27] SanderDevisscher opened #316 "BUG: Gerapporteerd aantal schademeldingen geo-data niet gekoppeld"
# Title Figuur/Tabel: _**Gerapporteerd aantal schademeldingen**_
## Bug description:

When trying to view the FBZ schademeldingen (all types) map for roedeer for the year 2022 I get the following error:

The error is not limited to roedeer nor is it limited to 2022 for example hare (haas) gets the error for 2021 & 2022 this makes me wonder if it is due to missing data however in all my tests the p

[2022-06-10 08:29] SanderDevisscher commented on #316
according to the graphs there should be data for the species-year combo
![newplot (1)](https://user-images.githubusercontent.com/16779320/173024678-039062b9-c0d1-436c-8b4c-f626e1017ece.png)

[2022-06-10 08:57] jimcasaer opened #317 "springende figuren"
ON UAT: for several figures of roe deer changing the time slider (eg 2012 - 2021 tot 2014 - 2022) results in a flikkering of the figures that does not stop -- figure seems not to load stable and timeslider continues to jump between original and old setting

should be tested if this error also occurs on other computers than mine
if so -- error should be solved

[2022-06-10 10:21] SanderDevisscher commented on #317
I'm having the same issue!
Hotfix for after my holiday ? or hold deployment?

[2022-06-10 12:02] SanderDevisscher commented on #317
and somehow I'm now unable to reproduce purposely on both laptop & desktop ??

[2022-06-10 12:23] SanderDevisscher commented on #317
In meeting with @jimcasaer we decided to go for the hotfix scenario after my holiday and thus to deploy the app in the current state

[2022-06-15 08:03] mvarewyck commented on #317
I could reproduce for the "FIGUUR: Onderkaaklengte per jaar (INBO of Meldingsformulier)" if you change the start period to 2021 and then back.
This is due to the data being renewed before the plot could be created (stuck in a loop).
I could imagine you also experience it for other plots if you have a slow internet connection or if the server is busy.

[2022-06-15 09:27] mvarewyck commented on #317
I've implemented a fix for the flikkering loop which resolves it for "FIGUUR: Onderkaaklengte per jaar (INBO of Meldingsformulier)"

Could you please test if it's solved at your side and if not: For which settings & plots does the problem occur?

[2022-06-15 10:00] jimcasaer commented on #317
Given that Sander is in holidays -- how can I test this ?

[2022-06-17 10:11] mvarewyck commented on #317
I don't know how Sander sets it up at UAT (and I probably don't have access). Ideally we should test in exactly the same environment.

Alternatively: I can show how it works locally for me before/after the update during a quick call. If we can reproduce that the flikkering occurs before the update but no longer after, then it will hopefully also work on UAT.

[2022-06-17 11:05] LynnINBO opened #318 "Dashboard figuren code"
- [ ]

[2022-06-17 11:06] LynnINBO commented on #318
Created branch `318-dashboard-figuren-code`

[2022-06-22 12:08] LynnINBO commented on #318
@RuttenAnneleen @jimcasaer Voor de samenstelling vh afschot heb ik deze twee grafieken :

![image](https://user-images.githubusercontent.com/72390052/175025181-90d6567a-0650-46e6-85b9-03a842ed551e.png)

![image](https://user-images.githubusercontent.com/72390052/175025281-69395c5a-da95-4fb1-ba11-66df6316e5dd.png)
_*Labels volgen nog_

Welke van de twee zien we liever op het dashboard verschijnen?

[2022-06-22 12:46] jimcasaer commented on #318
ik zou gaan voor nog een andere voorstelling waarbij je via de filter beslist welke geslachten er gevisualiseerd worden (enkel man, enkel vrouwelijk, of alles) - en er telkens per jaar 1 stacked weergave is - via de filter beslis je ook welke bron je gebruikt voor leeftijd en welke voor geslacht (inbo / meldingsformulier / INBO + meldingsformulier)

makes sense ?

[2022-06-22 12:51] jimcasaer commented on #318
ps het filter deel moet je niet verder uitwerken want dat kent Machteld (zie voorbeeld hieronder uit grofwildpagina)

![image](https://user-images.githubusercontent.com/17747176/175033241-0df250c4-06d6-423a-af06-92b35c890c1b.png)

[2022-06-23 09:14] LynnINBO commented on #318
@jimcasaer @RuttenAnneleen : zoiets?

![image](https://user-images.githubusercontent.com/72390052/175263487-a2da5aaa-36b9-4d3b-83fe-0f529fc16b5f.png)
_* never mind the labels..._

% als labels of counts?

[2022-06-23 09:52] RuttenAnneleen commented on #318
Ik denk inderdaad dat je de dataset op deze manier moet maken maar dan ook wel dat de filters de mogelijkheid geven om klasses op te tellen als niet enkel mannelijk of enkel vrouwelijk wordt gekozen enzovoort. Maar dat zijn misschien zaken die @mvarewyck automatisch kan verwerken? Dus als je deze dataset en de insteek van deze grafiekopstelling meegeeft is dat misschien voldoende?

De labels zou i

[2022-06-23 10:05] mvarewyck commented on #318
Ik denk dat het in eerste instantie inderdaad belangrijk is om jullie huidige code gewoon te bundelen as-is. Correctheid van labels enzo bekijken we dan wel. Want jullie figuren zijn allemaal statisch (ggplot) en die in de app tot nu toe interactief (plotly).
Er zijn dan 2 opties als jullie in de app interactieve figuren willen:
* Figuur hermaken (vanaf 0) met plotly. Dus dan zou ik enkel jullie c

[2022-06-23 11:34] jimcasaer commented on #318
Ik stel voor dat we net zoals in het verleden vooral aangeven via de scripts
welke variabelen vanuit welke dataset gebruikt worden voor een figuur
en hoe de uiteindelijke figuur er zou moeten uitzien volgens ons (+ mogelijke filters op dataset om figuren te bouwen op deelsets)

en dat op basis hiervan Matcheld de figuren terug opmaakt in plotly

heel veel figuren zijn ook variaties op bestaande fi

[2022-06-23 12:38] jimcasaer opened #319 "nakijken : verschil tussen afschot per gemeente en afschot per gemeente binnen FBZ -- raar in FBZ8"
er gaat afschot verloren dan ook niet op niveau FBZ terug te vinden is

[2022-06-23 14:45] RuttenAnneleen commented on #318
Vraagje over welke voorstelling het duidelijkste/makkelijkst te begrijp is bij de PCI's.
Ofwel gaan we voor onze gekende bubbel-voorstelling waarbij zeker een woordje uitleg nodig is om te begrijpen wat erop staat:
![houding_optie1](https://user-images.githubusercontent.com/34440484/175326887-8fc9c72f-fc0c-4937-ad7d-89d2606597d8.jpeg)

Ofwel gaan we voor een simpele barplot met enkel het gemiddeld

[2022-06-23 14:54] RuttenAnneleen commented on #318
@mvarewyck: hier is een update voor jou:

- Hierboven in de issue kan je zien welke grafieken klaar staan op de reporting-rshiny-grofwildjacht repo en de branch 318-dashboard-figuren-code in de Dashboard folder
- Een heel aantal van de grafieken die ik moet voorbereiden kan ik nog niet doen omdat ik Sander nodig heb voor de nodige data en omdat ik nog op een aantal antwoorden aan het wachten ben v

[2022-06-28 08:56] mvarewyck commented on #318
Bedankt voor de update!
De scripts werken langs mijn kant, behalve voor [F17_4](https://github.com/inbo/reporting-rshiny-grofwildjacht/blob/318-dashboard-figuren-code/dashboard/scripts/F17_4_toekomstige_verspreiding.R) ontbreken de data nog.
Ik kan al beginnen met het materiaal dat jullie nu aangeleverd hebben. Ondertussen hebben jullie de tijd om de andere zaken verder te verzamelen/uit te werken

[2022-06-28 11:27] jimcasaer commented on #319
@mvarewyck ik zet jou hier ook bij want weet niet op welk niveau de fout gebeurt

[2022-06-28 19:47] mvarewyck commented on #319
@jimcasaer Kan je een voorbeeld geven? Dat helpt om te achterhalen waar het eventueel fout loopt
Mogelijks is de FBZ onbekend en dan wordt het afschot wel weergegeven voor de gemeente maar niet bij selectie van FBZ.

[2022-06-29 06:50] jimcasaer commented on #319
Machteld,

als ik voor 2021 kijk naar Huldenberg en Oud Heverlee als gemeente kom ik op respectievelijk 41 en 57 geschoten evers
kies ik bovenaan gemeente binnen FBZ en kies ik dezelfde twee gemeenten (alle twee volledige in FBZ 8) dan kom ik op respectievelijk 25 en 44 stuks ?

[2022-06-29 07:41] mvarewyck commented on #319
Zoals ik vermoedde, wordt het verschil verklaard door observaties waarvoor de gemeente wel gekend is maar FBZ niet.

**Oud-Heverlee**
[code]

**Huldenberg**
[code]

- Voor Oud-Heverlee bestaat er een 7 en 8 FBZ, dus we kunnen niet zomaar alle ontbrekende FBZ aan 8 toekennen.
- Voor Huldenberg bestaat er enkel een 8 FBZ, dus daar zouden we wel de ontbrekende FBZ kunnen invullen.
[code]
@SanderDevis

[2022-07-04 07:55] SanderDevisscher commented on #319
Dit stond reeds op mijn radar zie [issue #805](https://github.com/inbo/backoffice-wild-analyse/issues/805) van de backoffice

[2022-07-04 14:38] RuttenAnneleen commented on #318
@mvarewyck : De grafieken van de inschattingsindicatoren staan klaar. De andere grafieken van de maatschappelijke draagkracht zijn bijna allemaal aangepast aan de overeengekomen weergave van onze vergadering vorige week, ik geef een seintje als ze allemaal klaar staan!

[2022-07-05 13:17] SanderDevisscher commented on #318
Ik heb de datastromen drukjachten, korrelplaatsen en drukjachtinspanning aangekaart op de trello van het ANB-IT overleg. Dit wordt waarschijnlijk pas behandeld na 11/8. Ik hou jullie op de hoogte.

[2022-07-05 13:54] SanderDevisscher opened #320 "F03-2 Bosperimeter: som van de perimeter van de bospatches --> nieuwe kolom habitat_lists$perimeter_bos_m"

[2022-07-05 14:00] SanderDevisscher opened #321 "F07-1 Meldingen verkeersongevallen --> nieuwe kolom wildschade_georef$type_melding"

[2022-07-06 14:04] RuttenAnneleen commented on #318
@mvarewyck : ik heb de figuren van de maatschappelijke draagkracht allemaal klaar staan.
Als er iets niet duidelijk is, laat je het maar weten!

[2022-07-07 13:57] RuttenAnneleen commented on #318
@mvarewyck : ik heb alle overige indicatoren die ik ging voorbereiden klaar! Bij sommige moet ik nog finale datasets krijgen maar voor de visualisatie is het huidige zeker al goed!

Zoals gewoonlijk: als er iets niet duidelijk is, laat maar weten!

[2022-07-14 07:34] RuttenAnneleen commented on #318
@mvarewyck: ik heb de csv file op de repo gezet onder .\dashboard\input\Data_beschikbaarheid.cs

[2022-07-14 13:12] mvarewyck commented on #318
Welke titels moet ik voorzien voor elk van de figuren?
Eenvoudigst voor mij is zoveel mogelijk dezelfde te gebruiken als voor de andere pagina's (als de figuren dezelfde zijn).
Deze worden nu [hier](https://github.com/inbo/reporting-rshiny-grofwildjacht/blob/master/reporting-grofwild/inst/extdata/uiText.csv) gedefinieerd.
Kan ik dan diezelfde titels ook bovenaan bij de selectie van indicatoren geb

[2022-07-14 14:11] mvarewyck opened #322 "F16_1: Reproductie onbekend"
Bij [het script](https://github.com/inbo/reporting-rshiny-grofwildjacht/blob/318-dashboard-figuren-code/dashboard/scripts/F16_1_deelname_reproductie.Rmd#L28-L29) worden records met onbekend aantal embryo's geclasseerd als niet-drachtig.

Ik zie 2 geldige (alternatieve) opties:

1. extra categorie waarvoor reproductiestatus "Onbekend" is. Die kleuren we dan grijs in figuur
2. de observaties met onb

[2022-07-14 15:29] mvarewyck opened #323 "F17-1 Verspreiding data 1x1 UTM grid"
Voor de figuur F17-1 verspreiding obv afschot hebben we de 1km x 1km UTM grid locatie nodig. Ik kan dit niet afleiden uit de huidige data (fijnste niveau is gemeente).
Kunnen jullie dit toevoegen aan de [geodata](https://github.com/inbo/reporting-rshiny-grofwildjacht/blob/318-dashboard-figuren-code/reporting-grofwild/inst/extdata/rshiny_reporting_data_geography.csv)
Liefst 1x1 UTM grid locatie toe

[2022-07-14 15:54] mvarewyck commented on #323
Welke keuzes voor eenheid moeten we voorzien? Is dit afhankelijk van de methode?
* afschot: 1x1km UTM
* waarnemingen: exacte locatie of 1x1km UTM
* toekomst: 1x1km UTM of gemeente

[2022-07-15 08:06] RuttenAnneleen commented on #318
@mvarewyck: ik stuur je een pdf met de fiches van alle indicatoren, ik denk dat je deze het best gebruikt als figuurtitels. De figuren die hetzelfde zijn als andere pagina's mag je uiteraard hetzelfde noemen

Ik heb ook de csv file van data beschikbaarheid aangepast zodat de F-codes bij elke indicator staat

[2022-07-15 08:17] LynnINBO commented on #322
@mvarewyck Ik zou leunen naar een extra categorie "Onbekend", zodat het ook duidelijk is dat we meer zouden moeten inzetten op het tellen van embryo's bij de jacht.

@RuttenAnneleen , wat denk jij?

[2022-07-15 08:23] RuttenAnneleen commented on #322
@mvarewyck & @LynnINBO: Ik denk inderdaad dat een extra categorie "Onbekend" hier de beste opties is!

Misschien na @jimcasaer zijn verlof nog even vragen of hij ons hier in volgt

[2022-07-15 09:31] SanderDevisscher commented on #322
@RuttenAnneleen @LynnINBO ik volg de piste van een extra categorie "onbekend"

[2022-07-15 10:57] mvarewyck commented on #322
Jazeker, er wordt gefilterd op vrouwelijk

[2022-07-15 14:00] SanderDevisscher commented on #323
Ik denk het wel, @RuttenAnneleen @LynnINBO @jimcasaer wat denken jullie ?

Lijkt me niet plausibel om 1x1 UTM te bepalen voor afschot omdat de nauwkeurigheid van de locaties die we doorkrijgen vaak aan de wensen overlaten. Voor 2021 slaagden we er maar in 53% van de gevallen in om te koppelen aan 5x5km utm hokken. Voor 1x1km hokken zal dit nog minder zijn. Daarom stel ik voor om voor afschot het o

[2022-07-18 13:09] mvarewyck opened #324 "F09_2: Kost landbouwschade"
Wildschade data bevat 2 kolommen met bedrag indicatie. ID en omschrijving komen niet altijd overeen. Alle mogelijke combinaties hieronder.
Welke van beide kolommen gebruik ik best?
[code]

[2022-07-18 13:20] SanderDevisscher opened #325 "F09_2: Kost landbouwschade"
Wildschade data bevat 2 kolommen met bedrag indicatie. ID en omschrijving komen niet altijd overeen. Alle mogelijke combinaties hieronder.
Welke van beide kolommen gebruik ik best?
[code]

zie ook https://github.com/inbo/backoffice-wild-analyse/issues/848

[2022-07-18 13:22] SanderDevisscher commented on #325
@mvarewyck ik zal een een nieuwe kolom geschat_schadebedrag toevoegen obv beide kolommen een soort comp kolom dus.

[2022-07-19 07:50] RuttenAnneleen commented on #318
@mvarewyck: voorlopig mogen deze 3 indicatoren in dezelfde plot omdat we deze bevraging nog maar 1x hebben uitgevoerd. Ze alle 3 apart zetten maakt interpretatie een stuk moeilijker. Maar vanaf dat we deze bevraging herhalen lijkt het mij best om ze dan wel op te splitsen maar dat is dus voor later

[2022-07-19 11:47] RuttenAnneleen commented on #323
@mvarewyck: Ik heb de dataset van waarnemingen.be voor de verspreiding aangepast zodat er de UTM5 code en Gemeente bijstaat en gepushed

[2022-07-19 14:10] SanderDevisscher opened #326 "switch to bucket use"
@mvarewyck ik weet niet hoever dit reeds gevorderd is. Ik heb ondertussen het nodige scriptje aangemaakt om de bestanden op de s3 bucket up te loaden.

[2022-08-09 12:54] SanderDevisscher opened #327 "Aanpassingen wbe pagina"
@mvarewyck ik ben met @jimcasaer en @RuttenAnneleen eens door de versie [12f1a68](https://github.com/inbo/reporting-rshiny-grofwildjacht/commit/12f1a68124cade69b29e0909e26dd18e89e15097) van wbe - pagina gegaan, daarbij zijn we de volgende zaken tegen het lijf gelopen.

**Kaartje Gerapporteerd afschot:**

- [ ] Zolang de opsplitsing bejaagd/niet-bejaagd niet mogelijk is stel ik voor dat we enkel de

[2022-08-16 12:34] jimcasaer opened #328 "image quality of downloads"
The quality of the downloads when using the Rshiny app is inferior compared to printscreen -- can this be solved ? changing settings ?

[2022-08-18 16:18] mvarewyck commented on #318
In data_beschikbaarheid bestand staat voor alle niveaus beschikbaar voor F09_3 en voor geen enkel niveau indien F07_3 of F11_3. Als het dezelfde figuur is, vermoed ik dat ook beschikbaarheid voor allemaal dezelfde is?

[2022-08-18 17:42] RuttenAnneleen commented on #318
Ja, de beschikbaarheid is allemaal dezelfde. Dat stond dan misschien fout
in de table, sorry!

Op do 18 aug. 2022 om 18:18 schreef Machteld Varewyck <
***@***.***>:

--
*Anneleen Rutten , PhD*

*Institute for Nature and Forest Research (INBO) - Research group Wildlife
management*

*Phone: +32(0)472692319*
*Email: ***@***.*** ***@***.***>*

[2022-08-22 07:12] SanderDevisscher commented on #319
backend issue

[2022-08-22 07:12] #319 closed

[2022-08-22 07:43] mvarewyck commented on #328
Is it for the maps (leaflet) and/or the interactive barplots etc (plotly)?

- For plotly we could adjust the plot size: https://plotly.com/r/configuration-options/#customizing-modebar-download-plot-button
- For leaflet we control it ourselves

[2022-08-22 07:47] jimcasaer commented on #328
this concerns the interactive barplots and boxplots

[2022-08-31 15:17] #325 closed

[2022-08-31 15:17] #322 closed

[2022-08-31 15:23] mvarewyck opened #330 "studiegebied info"
Sander heeft nieuwe data toegevoegd voor de bos gegevens, zoals weergegeven in onderstaande tabel.
Kunnen jullie eens controleren of de eenheid, labels en data zijn zoals verwacht?

* Voor mij zijn de zeer grote getallen van bos perimeter moeilijk vergelijkbaar.
* Weg densiteit en bos perimeter hebben dezelfde eenheid. Ik zou verwachten dat densiteit altijd dezelfde eenheid heeft (voor weg en bos)

[2022-08-31 15:59] SanderDevisscher commented on #330
@mvarewyck
- bos perimeter is in m =>` /1000/area_km2` als je het wilt uitdrukken in deze eenheid.
- bos densiteit is het absoluut aantal => `/area_km2` om het uit te drukken in deze eenheid.
- bos oppervlakte lijkt me correct voor gemiddelde oppervlakte van de bospatches al vind ik wel dat de kolomkop deze lading niet dekt. Ik zou hier `Gemiddelde bos oppervlakte` of `Gem. bos opp.` van maken.

[2022-09-01 11:51] #330 closed

[2022-09-09 08:19] mvarewyck commented on #318
Preview of dashboard ready.

- Dockerfile is updated (extra software for pdf report)
- Report that can be downloaded in the app: only 3 figures shown. To be worked out by OA if layout is fine for INBO
- Data files to be reviewed: Pixels_ModelOutput_toekomst_verspr_2022.shp and Municipalities_ModelOutput_toekomst_verspr_2022.shp. Ideally, pixels is on 5x5 UTM (possible?) Then we only need rectangul

[2022-09-12 08:53] mvarewyck commented on #328
Original size was 700 x 450. Now updated to 1300 x 800 pixels for all plotly graphs.
Can still be increased if needed.

[2022-09-12 19:23] mvarewyck commented on #327
**Kaartje Gerapporteerd afschot:**
@SanderDevisscher Vanaf welk jaartal willen jullie kunnen selecteren?
* Vanaf 2014 WBE buitengrenzen beschikbaar
* Vanaf 2015 biotoopData beschikbaar
* Vanaf 2016 WBE jachtterreinen beschikbaar

[2022-09-13 15:17] mvarewyck commented on #327
**FIGUUR: Geslachtsverdeling binnen het afschot per leeftijdscategorie**
There is no data, the numbers at the bottom were just recycled. E.g. in screenshot number 12 for first and last category as there was no number for 'Jaarling'. Code is updated such that 0 is shown. Or do you prefer to remove the category with 0 observations?

![Screenshot from 2022-09-13 17-13-01](https://user-images.githubus

[2022-09-19 09:41] mvarewyck commented on #327
**Kaartje schademeldingen**

- Error komt niet meer voor nu 'Wild zwijn' niet langer kan geselecteerd worden voor kbo 454472813 omdat hier geen observaties zijn. Meld gerust indien andere errors optreden.
- Voor welk jaar tekenen we dan de buitengrenzen? Voor wildschade wordt een _periode_ geselecteerd door de gebruiker. Voorlopig gebruik ik het meest recente geselecteerde jaartal, bvb, 2018-2021

[2022-09-20 07:45] mvarewyck commented on #310
For admin role:
* Locally (in R) start the app with `runWildApp(public = FALSE, kbo = "admin")`
* Via shinyproxy, we expect environment variable "SHINYPROXY_USERNAME" to have value 'admin'

Currently we allow admin users to select the WBE on 'WBE_Naam_Toek'.This could (easily) be changed into 'KboNummer_Toek' or even a combination of both.

_Note to myself: Some changes might be required for the E

[2022-09-20 09:34] mvarewyck opened #331 "Plot bioindicator onderkaaklengte - Onderkaaklengte bron"
Specific example for WBE page - but applies to other pages/regions too
* KBO: 452846379
* Species: Ree

I found that when switching 'onderkaaklengte_bron' more records are available for 'meldingsformulier' then both 'inbo en meldingsformulier'. This is present in the data as such (not due to coding), see e.g. line 69525 for ecology data. **Is this an issue or expected behavior?**

Comparison in th

[2022-09-20 11:42] SanderDevisscher commented on #331
@mvarewyck this is not expected behavior. Both should be bigger than meldingsform only and both & meldingform only should bigger than inbo only. I'll check this in the data.

[2022-09-20 11:48] SanderDevisscher opened #332 "Plot bioindicator onderkaaklengte - Onderkaaklengte bron #867"
Specific example for WBE page - but applies to other pages/regions too

* KBO: 452846379
 * Species: Ree

 I found that when switching 'onderkaaklengte_bron' more records are available for 'meldingsformulier' then both 'inbo en meldingsformulier'. This is present in the data as such (not due to coding), see e.g. line 69525 for ecology data. **Is this an issue or expected behavior?**

 Comparison i

[2022-09-20 11:56] SanderDevisscher commented on #318
De nood aan datastromen vanuit ANB werd aangekaart op het afgelopen ANB-IT overleg. De datastromen dienen eerst bij ANB zelf nog opgezet te worden maw er zijn nog geen e-loket formulieren die deze datastomen capteren.  Dit wordt opgenomen in de planning van ANB-IT maar zal niet tijdig afgerond te worden voor de "eerste" online versie van het dashboard.

[2022-09-20 13:16] mvarewyck commented on #303
@SanderDevisscher I found surprisingly few male Ree with known age from INBO

![Screenshot from 2022-09-20 15-14-32](https://user-images.githubusercontent.com/22143743/191267419-336ce167-da7d-4962-99dc-866999ed819d.png)

[2022-09-20 14:21] mvarewyck commented on #306
@SanderDevisscher Are these data variables already available?

[2022-09-21 04:54] SanderDevisscher commented on #327
Ik zou persoonlijk de data vanaf 2014 weergeven. de biotoopdata en de jachtterreinen zijn louter informatief.
Ik kijk na waarom de biotoopdata vanaf 2015 is ipv 2014

[2022-09-21 04:59] SanderDevisscher commented on #327
Om het "licht" te houden zou ik idd opteren voor het meest recente jaar.  Als je denkt dat dat geen issue is denk ik dat het ook wel nuttig zou zijn om de "wijzigingen" weer te geven maw meest recente laag van boven en andere lagen met zachtere streepjes lijn eronder.

enkel voor 2018 ?

[2022-09-21 07:47] SanderDevisscher commented on #327
de habitat data is ook beschikbaar vanaf 2014 (zie https://github.com/inbo/reporting-rshiny-grofwildjacht/blob/master/reporting-grofwild/inst/extdata/WBE_habitats_2014.csv)

[2022-09-21 07:57] SanderDevisscher commented on #306
These variables should be added to the geography file

[2022-09-21 09:27] SanderDevisscher opened #334 "Aanpassingen dashboard"
@mvarewyck, @LynnINBO, @RuttenAnneleen en mezelf hebben zijn net even door de versie [3f399cf](https://github.com/inbo/reporting-rshiny-grofwildjacht/commit/3f399cf1dcbd1b974b8ef7fc44ea653f43eeafed) van het dashboard gegaan en hebben de volgende suggesties ter verbetering geformuleerd:

### Algemeen
- [x] Sterretjes, voor ontbrekende data, die bij de indicator staan bovenaan zouden ook weergegeven

[2022-09-21 10:00] mvarewyck commented on #334
*meeting 21/09*

FIGUUR: Toekomstig verspreidingsgebied
* verwijder filter eenheid -> risico klasse (beide)
* vermelding predictiejaar; geen filter

[2022-09-26 09:52] SanderDevisscher commented on #327
@mvarewyck I've checked the wbe_binnengrenzen.geojsons in the backoffice and do not display any shift.
I'll upload the wbe_binnengrenzen_2021.geojson from the backoffice

[2022-09-26 09:55] SanderDevisscher commented on #327
see 1df386d9f298d1f45827dc644592fee18ba7f728

[2022-09-27 08:03] mvarewyck commented on #327
Look's fine now!

[2022-10-03 09:45] mvarewyck opened #335 "`Verspreidingsgebied a.d.h.v. afschotgegevens` & `Verspreidingsgebied a.d.h.v. waarnemingen.be` zouden samengevoegd moeten worden tot 1 kaartje voorzien van een bron selectie vak met als opties `afschot` en `waarnemingen.be`. Default zouden ze beiden "aan" moeten staan. De aantallen zou dan de som van beide moeten zijn."

[2022-10-03 09:48] #313 closed

[2022-10-03 09:50] mvarewyck commented on #335
Voorstel nieuwe titel beide plots: "Huidig verspreidingsgebied"

Data beschikbaarheid voor
* waarnemingen.be: 2008 tem 2018
* afschot: 2006 tem 2022

Wat doen we als gebruiker bvb 2021 selecteert?
Ofwel alleen optie 'afschot' tonen voor databron ofwel waarschuwing printen dat er geen data is voor waarnemingen.be ofwel zonder meer de figuur tonen (gebruiker selecteert beide bronnen maar figuur toon

[2022-10-03 09:58] SanderDevisscher commented on #335
Ok

In het geval er geen data voorhanden is voor 1 bron zou ik die bron sowieso uit het databron selectie vak verwijderen. In het geval van 2021 zou dus enkel afschot een optie mogen zijn voor de databronnen. Nu omdat de oorzaak van het ontbreken van data bronnen vooral aan onze werkdruk ligt en niet zozeer gaten in de dekking van de databronnen zou ik
daarnaast ook een disclaimer toevoegen aan de

[2022-10-03 10:16] mvarewyck commented on #334
Ik heb (voorlopig) het jaartal uit bestandsnaam gehaald.

[2022-10-03 11:07] SanderDevisscher commented on #334
@mvarewyck wat is het beste voor de toekomst ?

1. Een "modeljaar" kolom toevoegen aan de data?
2. nieuwe bestanden in een filename_jjjj.csv aanleveren?
3. ...

[2022-10-03 11:11] mvarewyck commented on #334
Momenteel doe ik optie 2: jaartal staat net voor de bestandsextensie. Dat lijkt me prima voor de toekomst.
Optie 1, jaartal toevoegen aan de data geeft een kolom met allemaal hetzelfde jaartal, dit maakt de data onnodig zwaarder.

[2022-10-03 11:12] SanderDevisscher commented on #334
Optie 2 dus

[2022-10-03 14:11] LynnINBO commented on #335
@SanderDevisscher @mvarewyck Ik zou persoonlijk gaan voor de disclaimer, zodat we ook kunnen aangeven dat de data wel bestaat, maar dat we die 'door omstandigheden' hier niet kunnen leveren.

[2022-10-03 15:46] #303 closed

[2022-10-03 15:46] #310 closed

[2022-10-04 04:50] SanderDevisscher commented on #335
@LynnINBO zou je de "ontbrekende" databron dan ook uit het selectie vak verwijderen (niet weergeven) voor de jaren dat die ontbreekt? Of enkel de disclaimer ?

[2022-10-04 07:11] LynnINBO commented on #335
@mvarewyck Ik zou beide doen, dan is er zeker geen misverstand mogelijk?

[2022-10-04 07:48] mvarewyck commented on #334
Voorstel met `INBOtheme::traffic_palette`

![Screenshot from 2022-10-04 09-44-18](https://user-images.githubusercontent.com/22143743/193763351-e7ca5bf4-a27e-4460-946d-f2788c2d8f1c.png)

Ter vervanging van:

![Screenshot from 2022-10-04 09-44-11](https://user-images.githubusercontent.com/22143743/193763524-bd21ec76-2cb7-4d8a-8283-14b9362322b7.png)

[2022-10-04 08:06] SanderDevisscher commented on #334
Persoonlijk vind ik het origineel duidelijker en mooier

[2022-10-04 08:39] mvarewyck commented on #334
Automatisch palet van `INBOtheme::inbo_rood` naar `INBOtheme::inbo_groen`

![Screenshot from 2022-10-04 10-36-42](https://user-images.githubusercontent.com/22143743/193773947-f0be6824-087b-40b3-9f22-e31402ca92f0.png)

[2022-10-04 08:40] SanderDevisscher commented on #334
miz geen verbetering :-/

[2022-10-05 10:22] SanderDevisscher opened #336 "Update oktober 2022"
Deze update verloopt voorlopig nog via de oude manier e.a. kopiëren van bestanden naar de repo. Pas na het fixen van #326 zullen data updates verlopen via de s3 buckets.

- [x] Create branch update_month_year
- [x] Copy data to rshiny
- [x] test lokaal via docker
- [ ] mail @berthuygens en @johan-ripoll voor deployment op UAT
- [ ] test UAT
- [ ] mail @berthuygens en @johan-ripoll voor deployment

[2022-10-05 10:25] #316 closed

[2022-10-05 10:26] SanderDevisscher commented on #317
seems fixed for now

[2022-10-05 10:32] SanderDevisscher commented on #304
this is fixed

[2022-10-05 10:32] #304 closed

[2022-10-05 10:36] SanderDevisscher commented on #302
this is fixed

@mvarewyck closing keywords seem to not work when provided with a list :-/

[2022-10-05 10:36] SanderDevisscher commented on #264
this is fixed

[2022-10-05 10:36] #264 closed

[2022-10-05 10:37] #302 closed

[2022-10-05 10:39] SanderDevisscher commented on #245
No longer relevant

[2022-10-05 10:39] #245 closed

[2022-10-05 10:39] SanderDevisscher commented on #218
Done

[2022-10-05 10:39] #218 closed

[2022-10-05 10:54] SanderDevisscher opened #337 "Things to do before launch"
Ik heb nog eens opgelijst wat volgens mij de volgende stappen zijn voor de lancering van wbe - pagina:

- [x] Select some wbe's to trail new page @jimcasaer en @SanderDevisscher
- [x] Deploy newest docker to UAT @johan-ripoll of @berthuygens
- [x] Test UAT @SanderDevisscher en @jimcasaer
- [x] Deploy newest docker to PRD @johan-ripoll of @berthuygens
- [x] Test PRD @SanderDevisscher en @jimcasaer

[2022-10-05 12:17] SanderDevisscher commented on #332
@mvarewyck deze discrepantie heeft te maken met het feit dat onderkaaklengte_links en onderkaaklengte_rechts geen verbetering is voor te korte en te lange onderkaaklengtes terwijl die er in onderkaaklengte_comp wel is. Te korte en te lange labels worden in onderkaaklengte_comp omgezet naar NA terwijl dit in onderkaaklengte_links en onderkaaklengte_rechts niet gebeurd. Hierdoor worden er minder ond

[2022-10-05 14:15] stenmigerode commented on #337
@SanderDevisscher ik ga het opnemen met Gert en laat zo snel mogelijk iets weten.

[2022-10-06 09:13] johan-ripoll commented on #337
@SanderDevisscher De laatste commit, https://github.com/inbo/shinyproxy-wbe/commit/cd57b8723a53b97fb44b123e59a0c5c4e5695577 is momenteel deployed.

[2022-10-06 09:15] johan-ripoll commented on #337
Weet dat dit een nieuwe CloudFormation stack is in DEV. Dus los van deployments in UAT/PRD, daar draaien momenteel nog geen beschikbare resources voor.

[2022-10-06 09:21] SanderDevisscher commented on #337
Dit wil zeggen dat de PRD nog niet "bruikbaar" is ? Wat moet er nog gebeuren om het wel werkende te maken ?

[2022-10-06 09:59] johan-ripoll commented on #337
Daarmee bedoel ik inderdaad de DEV resources die draaien, bereikbaar via deze URL: https://wbe-dev.inbo.be
De huidige laatste commit is daar deployed.

[2022-10-06 10:05] SanderDevisscher commented on #337
Ik ben percies niet meer mee, wat is dan het verschil met de UAT ?

De versie op de DEV verschilt momenteel met de meest recente versie (31fef5124d4fa241d2eea3ae664535350c828a5d) van deze repo.

[2022-10-06 10:35] johan-ripoll commented on #337
ik dacht dat het hier over WBE ging, wellicht ben ik niet meer mee. ik deploy wel gewoon wat jullie vragen

[2022-10-06 10:44] SanderDevisscher commented on #337
@johan-ripoll het gaat hier idd over de wbe - pagina (privaat deel) van de grofwildapp (publiek deel) deze zitten samen in deze repo. De laatste commit naar de master van deze repo is een aanpassing van de wbe-pagina.

Er is denk ik verwarring over de terminologie. Als ik het heb over UAT dan heb ik het over de testomgeving (bereikbaar op https://wbe-dev.inbo.be/ & https://faunabeheer-dev.inbo.be/

[2022-10-06 12:55] SanderDevisscher commented on #337
Ik had al een vermoeden dat we enkele termen aan het mixen waren.

Goed idee!!

Het private deel van de app mag idd gehost worden op wbe.inbo.be (zie mail van 4/8 met onderwerk Re: Email vr wbe pagina)

Dat is idd de bedoeling mede omdat zo de data dan beter beschermd wordt (dit is een open repo). @mvarewyck is bezig hiervoor de nodige aanpassingen aan de docker door te voeren. Ze zal hiervoor nog

[2022-10-10 09:31] SanderDevisscher opened #338 "Tekst voor test wbe's"
@jimcasaer doe jij een aanzet voor de body van de email die we naar de test wbe's zullen sturen ?

je kan hem hierin kwijt
https://docs.google.com/document/d/1Nn3Biy3OwlqBTIEUYZNLlxzOz68hbbijkPazMnu3YRo/edit

[2022-10-10 11:25] SanderDevisscher commented on #337
Een vraagje ivm key cloak. Kunnen we een account aanmaken die tot meerdere "wbe's" maar ze niet allemaal toegang heeft ?

[2022-10-10 13:11] stenmigerode commented on #337
Hey Sander, dit is vooral een vraag voor de applicatie-ontwikkelaars.

Wat de Keycloak-kant betreft hebben we op dit moment gewoon gebruikers met een KBO nummer als gebruikersnaam. Hiermee kunnen zijn inloggen om hun eigen data te zien. De applicatie gaat bij mijn weten enkel naar gebruikersnaam kijken om te bepalen welke data te zien is.

Als er gebruikers moeten zijn die de data van meerdere of

[2022-10-10 13:28] SanderDevisscher commented on #337
De toegang tot één enkele WBE, via HVV email, zou normaal gezien stabiel moeten zijn doordat telkens een 1 op 1 relatie is (1 wbe email <-> 1 kbo). Voorlopig is dit meer als voldoende.

Op termijn zou het echter mogelijk moeten zijn om voor enkele "powerusers" de toegang te verschaffen tot meerdere "wbe's". Het gaat hier over onafhankelijke jachtrechthouders (o.a. ANB) die op meerdere gebieden act

[2022-10-10 14:45] stenmigerode commented on #337
Dat klopt, dat is iets dat in de applicatie moet ontwikkeld worden. En om zo 1 ANB login aan meerdere KBO's te linken, zie ik maar 1 oplossing: 1 rol aanmaken in keycloak per KBO nummer. Wij geven rollen door via het login token, de applicatie moet de rollen dan uitlezen en al de rest doen.

[2022-10-11 09:38] SanderDevisscher commented on #334
Maak je een PR als je zover bent ?

[2022-10-11 14:09] SanderDevisscher commented on #337
De volgende wbe's werden geselecteerd als test-wbe

<table><thead><tr><th>WBE</th><th>email</th><th>kbo</th></tr></thead><tbody><tr><td>De Voorkempen - Kalmthout</td><td>wbe.devoorkempen-kalmthout@hvv.be</td><td>454996613</td></tr><tr><td>De Vart</td><td>wbe.devart@hvv.be</td><td>451011101</td></tr><tr><td>Suetendael</td><td>wbe.suetendael@hvv.be</td><td>459598668</td></tr><tr><td>De Zwarte Beek</

[2022-10-13 08:03] johan-ripoll opened #339 "31fef5124d4fa241d2eea3ae664535350c828a5d Dockerfile issue during deployment"
[code]

Op:
[code]

[code]

Deze regel in de Dockerfile:
[code]

[2022-10-13 08:50] johan-ripoll opened #340 "c27c15bdb1ad0edf287dd22bc2d4feed75e6743f - error during building the image"
[code]

[2022-10-13 12:25] LEDfan commented on #339
Fixed by #341

[2022-10-13 13:05] LEDfan commented on #340
This is an older commit of the repository, the Dockerfile contains multiple issues.
If it is required to build this commit, you can use the following Dockerfile (based on the #341)

[code]

[2022-10-14 12:31] SanderDevisscher opened #342 "add "onbekend" to type filter"
This concerns: FIGUUR: Gerapporteerd aantal embryo's voor vrouwelijke wilde zwijnen per jaar

Currently only frisling(v), overloper(v) & zeug are possible in the type filter. Is it possible to add "onbekend" as well ?
Especially when you select Data bron voor aantal embryo's = "INBO" the bar is mainly "onbekend".
It would be nice to be able to omit this part of the data.

This is already the case

[2022-10-14 15:17] SanderDevisscher commented on #340
@johan-ripoll this issue is fixed ?

[2022-10-14 15:18] #340 closed

[2022-10-14 15:18] #339 closed

[2022-10-17 04:20] SanderDevisscher commented on #334
@mvarewyck is het mogelijk om aantal waarnemingen en aantal geschoten dieren afzonderlijk weer te geven in de popup bij het huidig verspreidingsgebied ?

De titel van het kaartje moet ook nog veranderd worden in verspreiding van everzwijn in jjjj ipv geraporteerd afschot

[2022-10-17 07:47] SanderDevisscher commented on #334
@mvarewyck kan bij de bevragingen steeds de steekproefgrote weergegeven worden? best bij de jaartallen met (n=x).

[2022-10-17 07:58] SanderDevisscher opened #344 "flip x-axis labels 90°"
[FIGUUR: Verdeling afschot over de jaren](https://faunabeheer-dev.inbo.be/app_direct/wildapp/#)
![image](https://user-images.githubusercontent.com/16779320/196121273-97085758-e37e-4b84-a4bc-05c29c2fda4d.png)

The n=xxx labels for this graph should be flipped 90° to improve readability

[2022-10-24 12:26] RuttenAnneleen commented on #335
Ik heb de meest recente gegevens van waarnemingen.be doorgekregen. Ik zal de data klaarmaken en een seintje geven zodat het probleem van selectie van bepaalde jaartallen zich minder voordoet :)

[2022-11-03 08:00] SanderDevisscher opened #347 "Aanpassingen Dashboard na #346"
- [ ] FIGUUR: Huidig verspreidingsgebied: Legende schaal van afwezig, lage aanwezigheid naar hoge aanwezigheid. Het optellen van afschot en waarnemingen maakt namelijk weinig sense.
- [ ] FIGUUR: Aantal schademeldingen: Verkeer en Publieke en Private ook voorzien van groepering per seizoen

[2022-11-03 10:20] SanderDevisscher commented on #338
@jimcasaer ik heb een aanzet gedaan. Kijk jij je het eens na ?

[2022-11-04 14:14] RuttenAnneleen commented on #347
@mvarewyck: ik heb de update van de huidige verspreiding obv waarnemingen.be data klaar. Ik zag echter dat ik ze de vorige keer weg had geschreven naar "/reporting-rshiny-grofwildjacht/dashboard/input/spatial/", een locatie die nu niet meer bestaat.
Waar moeten updates van datasets nu en in de toekomst terechtkomen?

[2022-11-04 14:28] SanderDevisscher commented on #347
@RuttenAnneleen je mag het bestand hier plaatsen: https://github.com/inbo/reporting-rshiny-grofwildjacht/tree/318-dashboard-figuren-code/reporting-grofwild/inst/extdata

[2022-11-04 14:31] RuttenAnneleen commented on #347
@SanderDevisscher: Top! Het staat erin! (wel in de 318-dashboard-figuren-code branch, is dit de juiste?)

[2022-11-04 14:34] SanderDevisscher commented on #347
dat is de juiste ja. @mvarewyck hoe worden de waarnemingen.be bestanden ingelezen ?

[2022-11-07 11:26] mvarewyck commented on #347
[hier](https://github.com/inbo/reporting-rshiny-grofwildjacht/blob/318-dashboard-figuren-code/reporting-grofwild/inst/ui/app_public/serverFiles/serverDashboard.R#L12-L13) worden ze momenteel ingelezen

[2022-11-07 11:54] SanderDevisscher commented on #347
@RuttenAnneleen wat is de temporele scope van de nieuwe file die je hebt opgeladen ? maw is er overlap met [waarnemingen_2018.csv](https://github.com/inbo/reporting-rshiny-grofwildjacht/blob/318-dashboard-figuren-code/reporting-grofwild/inst/extdata/waarnemingen_2018.csv) ? De colnames van het nieuwe bestand zijn ook heel anders dan het voorgaande! Hier zou ik persoonlijk gaan voor de colnames van

[2022-11-07 12:40] RuttenAnneleen commented on #347
De nieuwe file is inderdaad deels een overlap met de waarnemingen_2018.csv (2007 tem 2018). Die oude file had ik nog ergens staan van in mijn doctoraat in afwachting van deze nieuwe dataset. Daarom ook dat de kolomnamen verschillend zijn. En omdat de toekomstige updates ook altijd dezelfde opmaak gaan hebben als deze nieuwe dataset lijkt het mij inderdaad het best om vanaf nu met deze colnames te

[2022-11-07 14:19] mvarewyck commented on #347
Ik zal de oude dataset omzetten naar het nieuwe formaat, aangezien er maar deels overlap is volgens Anneleen.
Ik zal een aparte functie hiervoor schrijven in [data load](https://github.com/inbo/reporting-rshiny-grofwildjacht/blob/318-dashboard-figuren-code/reporting-grofwild/R/data_load.R) die ook een aantal checks doet bij het laden zoals voor de andere datasets.

[2022-11-07 14:20] RuttenAnneleen commented on #347
@mvarewyck: Kan je niet beter dan de oude dataset verwijderen en enkel de nieuwe dataset gebruiken? Want de nieuwe dataset = oude dataset (2007-2018) + nieuwe data (2019-2022)

[2022-11-07 14:23] mvarewyck commented on #347
Sorry, ik had verstaan dat jouw oude dataset niet volledig in de nieuwe was vervat. Aangezien dit dus wel zo is, is het idd beter enkel de nieuwe te laden.

[2022-11-08 20:47] jimcasaer commented on #338
voila -- om het niet nog langer uit te stellen heb ik dit ook nog even op mijn lijstje genomen vandaag

@SanderDevisscher @RuttenAnneleen

- [ ] kijken jullie het nog even na
- [ ] netjes zetten zodat alle opmerkingen er uit zijn
- [ ] @SanderDevisscher dan mag je het ook al doorsturen naar Gert
- [ ] ik weet niet meer of wij dan wel Gert de email ging uitsturen - eventueel best ook even vragen aa

[2022-11-09 08:47] SanderDevisscher commented on #317
This issue has reappaered in **PRD** !! and should be fixed asap !

https://user-images.githubusercontent.com/16779320/200782896-32e0707d-aa61-4874-a825-4c080d033f0d.mp4

[2022-11-09 09:31] mvarewyck commented on #317
(I'm on it)

[2022-11-09 09:36] SanderDevisscher commented on #338
Ik denk persoonlijk dat het beter is dat wij het uitsturen aangezien het een product van ons is!

Kunnen we niet best ook een einde aan de test periode hangen (bvb 30/11) => gevolgd door een periode om fixes en enhancements uit te voeren => om dan eindelijk live te gaan tegen 15jan.

[2022-11-09 10:58] jimcasaer commented on #338
twee keer akkoord :-)

Op wo 9 nov. 2022 10:37 schreef Sander Devisscher ***@***.***

[2022-11-09 13:15] SanderDevisscher opened #350 "Add link logic"
Tegen dat we live voor iedereen gaan zou de logica voorzien moeten worden die toelaat om van het private deel naar het publieke deel te gaan en visa versa.

- [x] tab voor wbe actief op publieke deel
- [x] als je op grofwild/wildschade tab klikt in wbe kom je uit op resp. pagina van publieke deel

[2022-11-09 13:42] SanderDevisscher commented on #338
Heb Gert uitgenodigd om te reageren op de tekst (maw reageerder rechten gegeven)

[2022-11-10 08:01] jimcasaer commented on #338
whoeps -- had ik ook gedaan -- mijn fout want stond als to do bij jou :-)
maar prima -- dan wachten we nu even op zijn reactie en dan kan het weg !!

[2022-11-10 08:02] SanderDevisscher commented on #338
heb je de tekst doorgestuurd of met hem gedeeld ?

[2022-11-10 08:03] jimcasaer commented on #338
@SanderDevisscher
- [ ] input van gert verwerken
- [ ] versturen naar de test-wbe's

? gingen we dat intern ook nog laten testen door een aantal mensen ? ik herinner me precies een email van jou maar vind die niet terug ?

[2022-11-10 08:05] jimcasaer commented on #338
gedeeld :-)

[2022-11-10 08:07] SanderDevisscher commented on #338
in de planning staat de test wbe (en meerderwbe's) en het bijhorend wachtwoord

[2022-11-10 08:09] SanderDevisscher commented on #338
Ik had Gert reageerder rechten gegeven zodat hij niet per ongeluk de tekst aanpast.

[2022-11-10 08:09] SanderDevisscher commented on #338
PS jij hebt ook een admin account

[2022-11-10 08:14] SanderDevisscher commented on #338
als er nog andere kindjes een admin of poweruser (al mag ik dat zo niet noemen :-/) account moeten hebben moeten we dat doorgeven aan onze vrienden van IT

[2022-11-10 08:15] jimcasaer commented on #338
als ik het goed begrijp kunnen niko, anneleen, jan, lynn via die wachtwoorden en emails ook wat zaken testen ?

[2022-11-10 08:16] SanderDevisscher commented on #338
dat klopt, zal ik ze toewijzen in de planning ?

[2022-11-10 15:07] RuttenAnneleen commented on #347
Ik heb de neutraal klasse er toch bij gekregen, zo lijkt het mij nog vrij duidelijk (al gaan de assen misschien wel nog was valsspelen worden om het duidelijk te krijgen):
![alternatief_F14_4](https://user-images.githubusercontent.com/34440484/201131173-c72c3057-b8bf-4e50-b0bf-128cdba46722.jpg)

@jimcasaer: wat denk jij?

[2022-11-10 15:10] jimcasaer commented on #347
echt super denk ik !!!
👍👍👌

[2022-11-10 15:25] RuttenAnneleen commented on #347
Top! Dan pas ik de andere grafieken zo ook aan om te zien wat dat geeft!
@mvarewyck : ik geef je een seintje als alles klaar staat om in het dashboard toe te voegen/aan te passen

[2022-11-10 15:33] SanderDevisscher opened #351 "DataTable melding als geen data voor tabel"
bij verder testen of de soortenlijst er een invloed op heeft kreeg ik ook deze melding:
`DataTables warning: table id=DataTables_Table_42 - Ajax error. For more information about this error, please see http://datatables.net/tn/7`
als popup van chrome.

_Originally posted by @SanderDevisscher in https://github.com/inbo/reporting-rshiny-grofwildjacht/issues/349#issuecomment-1309977901_

[2022-11-10 15:39] SanderDevisscher commented on #351
[5779a50](https://github.com/inbo/reporting-rshiny-grofwildjacht/pull/349/commits/5779a50a27f6346ad01df3f60fdd27594070ca51)
[8223961](https://github.com/inbo/reporting-rshiny-grofwildjacht/pull/349/commits/8223961dbc7971e2ae2592973c8896623fe9db96)

https://github.com/inbo/reporting-rshiny-grofwildjacht/pull/349#issuecomment-1310012860
https://github.com/inbo/reporting-rshiny-grofwildjacht/pull/349

[2022-11-10 15:39] #317 closed

[2022-11-10 18:10] SanderDevisscher commented on #337
De mail werd uitgezonden naar alle wbe's behalve wbe.antwerpsepoldersnoord@hvv.be omdat ik hiervoor nog op een stuk feedback wacht.

de mail voor wbe.tussenvoer&yse@hvv.be werd geweigerd ik ga samen met Gert van HVV op onderzoek.

[2022-11-10 18:15] SanderDevisscher commented on #337
heb ook zo'n vermoeden

Op do 10 nov. 2022 om 19:14 schreef Gert Van Spaendonk <
***@***.***>:

--

*Sander Devisscher*

Hoofddeskundige

Vlaamse Overheid

INSTITUUT VOOR NATUUR- EN BOSONDERZOEK

Team Faunabeheer en Invasieve Soorten

*M* +32 499 594806

***@***.***

Havenlaan 88 bus 73, 1000 Brussel

www.inbo.be

////////////////////////////////////////////////////////////////////////////////////

[2022-11-13 19:49] SanderDevisscher commented on #351
In de productie lijkt het probleem zich niet voor te doen. Wilt dit zeggen dat er een verschil bestaat tussen de UAT en PRD ?

[2022-11-14 09:55] SanderDevisscher commented on #337
Ik heb ondertussen al feedback gekregen van 1 wbe. De data werd snel nagekeken en lijkt te kloppen en verder krijgen we ook lof.

Ook wbe.antwerpsepoldersnoord@hvv.be is uitgenodigd om de app te testen.

[2022-11-15 15:34] mvarewyck commented on #326
For reference: Access to S3 on UAT
https://github.com/cloudyr/aws.signature/

[2022-11-16 09:56] mvarewyck opened #353 "render dashboard report via Docker"
When trying to knit the report I get an error. See log:

[docker_log_dashboard_knit_error.txt](https://github.com/inbo/reporting-rshiny-grofwildjacht/files/9926495/docker_log_dashboard_knit_error.txt)

![image](https://user-images.githubusercontent.com/16779320/199672119-ea2fb08c-31e8-4f19-9123-35f00be438a2.png)

_Originally posted by @SanderDevisscher in https://github.com/inbo/reporting-rshiny-g

[2022-11-16 09:58] mvarewyck commented on #353
Some dependencies were missing, already added to dockerfile.
Currently, the report renders, but the plotly graphs selected by the user are not.

[2022-11-16 14:51] mvarewyck commented on #353
Should get fixed by using `rmarkdown` version >=2.14 instead of 2.8

[2022-11-16 15:17] SanderDevisscher opened #354 "FIGUUR: Leeftijdscategorie op basis van onderkaak & meldingsformulier disclaimer incorrect"
# Title Figuur/Tabel:

FIGUUR: Leeftijdscategorie op basis van onderkaak & meldingsformulier

## Bug description:
Wanneer een wbe geen data mbt leeftijdscategorie heeft worden de foute jaartallen in de disclaimer weergegeven.  Deze issue doet zich voor in de PRD.

## Screenshot:
![image](https://user-images.githubusercontent.com/16779320/202219408-2d5df970-0365-4132-97f6-7678f51d94f0.png)

WBE: 't

[2022-11-17 15:02] mvarewyck opened #355 "Checking data when uploaded from S3"
Ik heb als test de data upgeload met een foute bestand extensie maar ik krijg dan een onleesbare error.
@mvarewyck is het mogelijk om in de error message weer te geven welk bestand de error veroorzaakt ?

_Originally posted by @SanderDevisscher in https://github.com/inbo/reporting-rshiny-grofwildjacht/issues/352#issuecomment-1318478581_

[2022-11-17 15:13] mvarewyck commented on #355
@SanderDevisscher

Er zijn een paar opties hiervoor, maar ik denk dat iets als volgt het best is:

Ik kan een script schrijven dat alle data test. Gebaseerd op https://github.com/inbo/reporting-rshiny-grofwildjacht/blob/data_s3/reporting-grofwild/tests/testthat/testData.R Dan zou je R moeten opstarten vanop de UAT en dat script manueel sourcen.

Alternatief is om de tests *altijd* te lopen voordat

[2022-11-17 15:19] SanderDevisscher commented on #355
Ik krijg de error in de app/wbe page.

Bestaat er geen mogelijkheid om de tests altijd te laten lopen wanneer de UAT opgestart wordt ? en niet als de PRD wordt opgestart ?
In een ideale wereld is de PRD bucket een mirror van de UAT (na de nodige checks).

[2022-11-17 19:52] mvarewyck commented on #355
Ja, ik zal de tests lopen in de niet-productie omgeving. We hebben nu toch die setup met het `config` package.
Voordat de app start, zullen er tests gelopen worden. Wil je dan de errors tonen in een popup window in de app of geprint in bash/R?

[2022-11-18 15:07] mvarewyck commented on #355
Ik voer [testData.R](https://github.com/inbo/reporting-rshiny-grofwildjacht/blob/data_s3/reporting-grofwild/tests/testthat/testData.R) uit voordat de app start
- Indien ergens faalt: error message + relevante files geprint in de R console. App start niet.
- Indien nergens faalt: message "finished successfully" in R console en app start

[2022-11-21 09:51] SanderDevisscher opened #356 "Gert Michiels can't login"
When Gert tries to login to wbe.inbo.be he gets the error below:

![image](https://user-images.githubusercontent.com/16779320/203019524-c111e4bb-90cd-4fc6-a140-d6b460b9ee7d.png)

This should be fixed asap!

[2022-11-21 10:44] gertvanspaendonk commented on #356
Het enige waarin dit account afwijkt van de andere accounts is dat er veel
(178) kbo-nummers aan gekoppeld zijn.
Enkele kbo-nummers is geen probleem, blijkbaar zit er ergens een limiet op
een array.
Aan applicatie kant?

Op ma 21 nov. 2022 om 10:51 schreef Sander Devisscher <
***@***.***>:

--

*Gert Van Spaendonk*

Vlaamse Overheid
INSTITUUT VOOR NATUUR- EN BOSONDERZOEK
Team Databeheer
*M* +32 47

[2022-11-21 10:49] stenmigerode commented on #356
Ik heb eens gecheckt in keycloak, dit is het token dat voor Gert Michiels gegenereerd wordt:
[code]

Ik tel er ook 178 hierin

[2022-11-21 11:27] mvarewyck commented on #356
Dat lijkt mij net de reden waarom we 'admin' accounts toelaten? Als je 178 kbo-nummers moet doorgeven/onderhouden, lijkt dit mij zeer fout-gevoelig.

Ja, er is mogelijks een limiet langs de R kant
https://stat.ethz.ch/R-manual/R-devel/library/base/html/Sys.setenv.html#:~:text=Recent%20versions%20of%20Windows%20have,set%20can%20only%20set%208188.

* Willen jullie dit soort lange lijsten van KBO num

[2022-11-21 11:33] SanderDevisscher commented on #356
Gert is in deze eerder een uitzondering aangezien hij de meerderheid van de wbe's moet kunnen raadplegen maar zeker niet alles.
Ik verwacht dan ook dat er niet snel meerdere van dergelijke account moeten aangemaakt worden.

[2022-11-21 11:36] mvarewyck commented on #353
In the end it was a combination of plotly, magick and rmarkdown

[code]

[2022-11-21 11:36] #353 closed

[2022-11-21 12:59] mvarewyck commented on #356
We hebben deze setup lokaal opgezet & getest met jullie instellingen: keycloak, shinyproxy en R shiny app van master branch. Lokaal worden alle KBO nummers correct uitgelezen en start de app.

Ik denk dat het meest efficient is als we (ik en @LEDfan) even kunnen meekijken op jullie servers om te bekijken waar en waarom het fout loopt.

[2022-11-21 13:46] RuttenAnneleen commented on #347
@mvarewyck: alle aangepaste grafieken van inschatting en maatschappelijke draagkracht staan klaar. Kan jij mij laten weten als het duidelijk is zo? Anders overleggen we nog wel even!

[2022-11-22 09:13] stenmigerode commented on #356
@mvarewyck Ik heb toegang gevraagd tot de server. Ik kan dan de logs naar hier kopiëren dan of eventueel een Google Meet opzetten om samen naar de server te gaan kijken.

[2022-11-22 09:59] mvarewyck commented on #356
De foutmelding doet me vermoeden dat er NAs in de KBO nummers zitten.
Als we op de server onder Gert zijn account R kunnen opstarten ipv de app, zou ik hetvolgende willen uitlezen:
`Sys.getenv("SHINYPROXY_KBO_NUMMERS")`

Mss zoiets in YAML: container-cmd: ["R", "-e", "print(Sys.getenv('SHINYPROXY_KBO_NUMMERS'))"]

Zoniet, kan ik een versie voorzien die dit print in de docker logs.

[2022-11-22 10:14] stenmigerode commented on #356
Ik ga het zo dadelijk bekijken wat er in die env variable in de container staat, maar als we met te veel gebruikers tegelijkertijd inloggen dan hangt alles vast. Ik probeer nog te achterhalen of het disk space, cpu of memory is.

We hebben gemerkt dat de shiny proxy een docker container per ingelogde gebruiker opstart. Is dat de bedoeling? Want dan moeten we vermoedelijk veel zwaardere servers voo

[2022-11-22 10:31] SanderDevisscher commented on #356
De huidige schaal is niet werkbaar. We zijn nu met hooguit 5 gebruikers ingelogd en het ligt plat !!

@stenmigerode vergt het een grote meerkost om een zwaardere server te voorzien ? Is het mogelijk hier een (automatisch) schaalbare server voor te voorzien ?
Ik verwacht namelijk een zeer onregelmatig gebruik van de app met periodes van relatieve rust en andere (vnl. rond de 3-maandelijkse updates

[2022-11-22 10:49] stenmigerode commented on #356
@SanderDevisscher ik ben java ontwikkelaar en tech lead en ook een externe consultant voor het INBO. Ik kan me niet uitspreken over de kosten en wat er aanvaardbaar is.

In afwezigheid van een AWS specialist op dit moment, kan ik wel zeggen dat een "automatisch" schaalbaar systeem een een complexe opzet binnen AWS met Elastic Container Services vraagt: we moeten dan een cluster aanmaken van docker

[2022-11-22 11:54] stenmigerode commented on #356
@mvarewyck in de docker container kan ik de volgende env variables uitlezen
[code]

Als ik het via R probeer om deze uit te lezen:
[code]

Dit lijkt dus ook te werken. Misschien dat 1 van deze nummers niet correct is?

[2022-11-22 11:58] stenmigerode commented on #356
Als ik inlog als een admin, dan kom ik dit tegen:
<img width="1262" alt="image" src="https://user-images.githubusercontent.com/27133403/203308332-15f1013c-e1ea-4492-b573-16041deb07f5.png">

[2022-11-22 12:09] stenmigerode commented on #356
@SanderDevisscher
Per ingelogde gebruiker wordt er 1 GB geheugen extra gereserveerd op de server, zie ik.
Dit betekent als er bijvoorbeeld een piek van 90 gebruikers is, dat er 90 GB extra nodig is. Dat zijn enorm dure servers, tenzij dat het INBO een mooie korting heeft bij AWS. Dat weet ik niet. @berthuygens ?

Ik kan van mijn kant niet veel meer doen.

[2022-11-22 12:53] SanderDevisscher commented on #356
Ja, maar dat zou bij gert toch geen probleem mogen zijn aangezien hij een lijst kbonummers, zonder de NA, meekrijgt. Zijn er misschien wbe's die totaal geen afschot hebben ?

[2022-11-22 12:57] SanderDevisscher commented on #355
@mvarewyck is het mogelijk om de error message weer te geven in de app ?

[2022-11-22 13:01] SanderDevisscher opened #357 "Increase server capacity or change docker workflow"
De huidige schaal is niet werkbaar. We zijn nu met hooguit 5 gebruikers ingelogd en het ligt plat !!

@stenmigerode vergt het een grote meerkost om een zwaardere server te voorzien ? Is het mogelijk hier een (automatisch) schaalbare server voor te voorzien ?
Ik verwacht namelijk een zeer onregelmatig gebruik van de app met periodes van relatieve rust en andere (vnl. rond de 3-maandelijkse updates

[2022-11-22 13:03] SanderDevisscher commented on #357
@SanderDevisscher ik ben java ontwikkelaar en tech lead en ook een externe consultant voor het INBO. Ik kan me niet uitspreken over de kosten en wat er aanvaardbaar is.

In afwezigheid van een AWS specialist op dit moment, kan ik wel zeggen dat een "automatisch" schaalbaar systeem een een complexe opzet binnen AWS met Elastic Container Services vraagt: we moeten dan een cluster aanmaken van docker

[2022-11-22 13:05] SanderDevisscher commented on #357
@SanderDevisscher
Per ingelogde gebruiker wordt er 1 GB geheugen extra gereserveerd op de server, zie ik.
Dit betekent als er bijvoorbeeld een piek van 90 gebruikers is, dat er 90 GB extra nodig is. Dat zijn enorm dure servers, tenzij dat het INBO een mooie korting heeft bij AWS. Dat weet ik niet. @berthuygens ?

Ik kan van mijn kant niet veel meer doen.

_Originally posted by @stenmigerode in htt

[2022-11-22 13:11] mvarewyck commented on #356
Bedankt Sten.
Probleem is dat voor sommige KBO nummers van Gert geen match is met de WBE namen.

[code]

[2022-11-22 13:13] SanderDevisscher commented on #356
dat wil zeggen ?? geen data ? ontbreken de wbe's ?

[2022-11-22 13:20] mvarewyck commented on #356
Ik vermoed dat dit wil zeggen dat er geen data voor is [hier](https://github.com/inbo/reporting-rshiny-grofwildjacht/blob/master/reporting-grofwild/inst/extdata/rshiny_reporting_data_geography.csv). Tenzij er een typo is in de KBO nummers, maar dat lijken mij er wel veel.

Ik stel voor dat als er WBE's toegekend zijn waarvoor geen data, dat we deze uitsluiten van de keuzelijst.
Moet er nog een mel

[2022-11-22 13:21] SanderDevisscher opened #358 "Meer tekst en uitleg"
### ALGEMEEN
- [ ] Ergens vermelden dat de cijfers gebaseerd zijn op afschotmeldingen door de WBE’s of OJ in het eloket. Niet te vergeten dat ze aangevuld worden met gegevens uit de autopsiedb. zie #364.

### Achtergrond info
- [x] Vermelden dat de Biotoop beschrijving gebaseerd is op de Corinne landgebruik laag

### Afschot
#### tabel gerapporteerd afschot:
- [x] legende van de kolom categorie wa

[2022-11-23 09:24] mvarewyck commented on #356
Momenteel, als er wordt ingelogd vanuit een WBE zonder data (i.e. geographical records), zie je dit:

![Screenshot from 2022-11-23 09-54-56](https://user-images.githubusercontent.com/22143743/203508581-c51ebd53-149c-4987-870c-4d288dbe314f.png)

Wat we kunnen proberen tonen is het kaartje met biotoop data.
* Hiervoor ontbreken we nog match tussen kbo nummer en wbe nummer, aangezien de biotoop data

[2022-11-23 10:50] SanderDevisscher commented on #356
Ik zit momenteel niet aan mijn laptop. Maar hier is het bestand al:
[Data_Partij_Cleaned.csv](https://github.com/inbo/reporting-rshiny-grofwildjacht/files/10074731/Data_Partij_Cleaned.csv)

In dit bestand vind je:
`KboNummer_Partij`: voor de kbonummers
`PartijNummer`: voor het wbenr
en
`WBE.officieel`: voor de naam zoals hij/zij weergegeven zou moeten worden.
`WBE_Naam_Partij`: mag je negeren

Zoa

[2022-11-23 13:13] mvarewyck commented on #355
Indien ergens faalt, start er nu een alternatieve app met bvb volgende foutmelding.
Het vermeldt welke test er faalt en voor welke data.
Is dit ok?

![Screenshot from 2022-11-23 14-09-16](https://user-images.githubusercontent.com/22143743/203555195-888a5892-629f-4b5c-99a8-adff6356fdf7.png)

[2022-11-23 16:10] mvarewyck commented on #356
Prima, ik heb het bestand (tijdelijk) toegevoegd op GIT.

Bijkomende vragen:
* Wat is de boodschap indien er geen schade data zijn? "Momenteel zijn er voor deze WBE geen schadegegevens van de grofwildsoorten beschikbaar. Hierdoor kunnen er geen figuren/tabellen worden getoond m.b.t. schademeldingen."

* Ik heb gezien dat er soms schade data is, maar bvb in 2016, terwijl de jaar filter voor schade

[2022-11-23 16:27] SanderDevisscher commented on #356
"Momenteel zijn er voor uw WBE geen schadegegevens van de grofwildsoorten beschikbaar. Hierdoor kunnen er geen figuren/tabellen worden getoond mbt schademeldingen. Indien u denkt dat dit niet klopt raden wij u aan gebruik te maken van  het [e-loket](https://natuurenbos.vlaanderen.be/e-loketten) van ANB, de Wilderapp ([ios](https://apps.apple.com/be/app/wilder/id1478282738) of [android](https://pla

[2022-11-23 16:52] mvarewyck commented on #356
Indien nodig, zal ik dit aanpakken in aparte issue en branch. Dit heeft ook effect op de andere pagina's.

[2022-11-24 10:08] SanderDevisscher commented on #271
deze mag terug opgenomen worden

[2022-11-24 12:57] mvarewyck commented on #347
@RuttenAnneleen Bedankt, ik kan hiermee verder.

Hoewel ik persoonlijk de bars altijd zou laten starten bij 0 en tot 100% laten gaan (zoals vroeger).

- Dat lijkt me beter om de negatieve (onderste lijn) of de positieve (bovenste lijn) te vergelijken. Nu kan je bvb de klasse 'belangrijk' bij preventieve maatregelen onmogelijk vergelijken omdat ze noch op dezelfde lijn starten, noch stoppen.
- Bove

[2022-11-24 14:16] SanderDevisscher opened #362 "Improve no data disclaimers"
Zou vervangen moet worden door:

Momenteel zijn er voor deze WBE geen afschotgegevens van de grofwildsoorten beschikbaar. Hierdoor kunnen er geen figuren/tabellen worden getoond m.b.t. afschot. Indien dit niet klopt, kijkt u best eerst na of de gegevens juist in het e-loket van ANB zitten. _Zijn uw gegevens toch ingegeven in het e-loket en hier worden ze hier niet weergegeven dan laat u best iets

[2022-11-24 15:04] LynnINBO opened #363 "FIGUUR: Onderkaaklengte per leeftijdscategorie en geslacht (INBO of Meldingsformulier) op WBE pagina"
Bug description: Er loopt iets mis met de labels van de x-as

![newplot (1)](https://user-images.githubusercontent.com/72390052/203815022-aacd6f8e-6c38-4bc7-8bac-af8f3b658a1f.png)

[2022-11-24 15:15] RuttenAnneleen commented on #347
@mvarewyck: ik heb het hier nog even besproken met Jim en Sander maar we zijn toch van mening dat mijn layout-voorstel duidelijker is dan hoe jij het voorstelt. We weten inderdaad dat het valsspelen met de data betekend maar onze fout-gevoeligheid valt wel mee vermoeden we :)
Kan jij je toch vinden om de grafieken te maken zoals wij ze voorstellen of zou je het anders willen zien?

[2022-11-24 15:18] mvarewyck commented on #347
No problemo! Bedankt voor de snelle respons

[2022-11-24 16:09] mvarewyck commented on #347
Ik zou liefst de percentages aan mijn kant berekenen dan, want ik heb zowel de correcte nodig (voor hoverinfo) als de gesplitste (voor de figuur). Je mag dus gewoon de _'correcte data'_ aanleveren in de toekomst, lijkt me ook het veiligst :)
Dus:
* zonder percentages kolom
* zonder dubbele data rijen voor neutrale klasse
Voor nu zal ik deze aanpassingen in de data zelf doen wanneer ik ze naar de j

[2022-11-25 08:35] SanderDevisscher commented on #363
@LynnINBO kan je hierbij ook vermelden over welke wbe het ging ?

[2022-11-25 08:45] SanderDevisscher opened #364 "Aanpassen welkomstekst"
Momenteel staat er :

Het stuk `U kan een login bekomen via HVV of de wbe secretaris.` mag hier weg omdat de pagina niet bereikbaar is als je niet eerst langs je wbe secretaris gepasseerd bent.

Daarnaast zou ik hier een beetje generieke uitleg analoog aan de publieke pagina's toevoegen. Mijn voorstel:

@jimcasaer wat denk jij ?

[2022-11-25 13:56] RuttenAnneleen commented on #347
@mvarewyck Ja, dat is prima! Ik zal onze scripts alvast aanpassen zodat je voortaan de correcte data doorkrijgt!

[2022-11-25 19:50] jimcasaer commented on #347
nog een voorbeeld uit de literatuur ( https://link.springer.com/article/10.1007/s10344-021-01527-w) met de de % ook aangeduid (en het lijkt erop dat ze op dezelfde manier vals spelen)
ik vind de spaties (witte lijnen) tussen de vakken wel verhelderend maar weet niet hoe makkelijk dat is om ook in Rshiny uit te voeren - ik zie wel dat ze hier de oorspronkelijke 5 categorieën gebruiken

@RuttenAnnel

[2022-11-28 08:12] LynnINBO commented on #363
@SanderDevisscher Ik heb lukraak op enkele WBE's geklikt en het is bij allen tot nu toe

[2022-11-28 09:47] mvarewyck commented on #347
Wat de borders betreft: Dit kan, maar is enkel mooi als de border dezelfde kleur heeft als de 'neutrale klasse'.
Als je maar 3 klasses hebt zoals in ons geval momenteel, dan heeft dit geen meerwaarde (zie voorbeelden hieronder)

Exacte percentages worden nu getoond als gebruiker over de blokken beweegt (hoverinfo). Dit laat toe om meer decimalen te tonen, want in het vb van Springer is de som niet

[2022-11-28 13:45] RuttenAnneleen commented on #347
Mijn voorkeur is zonder borders want de witte dragen nu inderdaad niet echt bij en zwart geeft een foute impressie

[2022-11-28 16:57] mvarewyck commented on #357
Dit komt (wellicht) omdat de geografische data voor de WBE's zo groot is (131 Mb).

Momenteel worden de geodata van alle WBE's ingeladen in R, daarna bekijken we welke data er effectief nodig zijn volgens login.
Aangezien gebruikers slechts 1 WBE tegelijk kunnen bekijken, zouden we de geo data kunnen opsplitsen in 1 file per WBE en dan code aanpassen zodat enkel geodata van geselecteerde WBE wordt

[2022-11-29 12:17] mvarewyck commented on #357
Ik heb voor 1 WBE de app gestart met subset van de grootste datasets (ecoData, geoData, spatialData, schadeData)
Dan gebruikt de app nog 550 Mb.

- Dit is bijna halvering, maar die winst zal kleiner zijn naarmate de login toegang heeft tot meer wbe's
- Als we dit operationeel willen, zouden we voor elke WBE een set van data moeten aanmaken, zodat enkel deze files kunnen ingeladen worden (best wach

[2022-11-30 10:43] SanderDevisscher commented on #306
@mvarewyck de variabelen zijn toegevoegd aan de geography file.

[2022-11-30 15:58] #356 closed